﻿@model Leave
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Create Leave";
    var user = await userManager.GetUserAsync(User);
    var fullName = user.FirstName + " " + user.LastName;
}
@*<link href="~/Preclinic-Hospital-Bootstrap4-Admin/assets/css/select2.min.css" rel="stylesheet" />
<link href="~/Preclinic-Hospital-Bootstrap4-Admin/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />*@
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div>
            <h4 class="text-center text-info">@fullName Leave Details</h4>
            <h5>Total Leaves:  @ViewBag.TotalLeaves<span class="text-danger">*</span></h5>
            <h5>Remaining Leaves: @ViewBag.RemainingLeaves<span class="text-danger">*</span></h5>
            <h5>Outstanding Leaves: @ViewBag.OutstandingLeaves<span class="text-danger">*</span></h5>
            <h5>Current Leaves: @ViewBag.CurrentLeaves<span class="text-danger">*</span></h5>
            <h5>Utilized Leaves: @ViewBag.UtilizeLeaves<span class="text-danger">*</span></h5>

        </div>
        <hr />
        <div>
            <h4 class="page-title text-center">Apply</h4>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <form method="post" enctype="multipart/form-data" asp-action="Create">
            <input asp-for="EmployeeEmail" value="@user.Email" hidden />
            <input asp-for="EmployeeId" value="@user.Id" hidden />
            <input asp-for="AddedBy" value="@user.Email" hidden />
            <input asp-for="LeaveUtilized" value="@ViewBag.UtilizeLeaves" hidden />
            <div class="form-group">
                <label asp-for="LeaveTypeId" class="control-label"></label>
                <select asp-for="LeaveTypeId" class="form-control leavetype select" asp-items="ViewBag.LeaveTypeId">
                    <option selected>Select Leave Type</option>
                </select>

            </div>
            <div class="form-group">
                <label asp-for="UnitsId" class="control-label"></label>
                <select asp-for="UnitsId" class="form-control select" asp-items="ViewBag.UnitsId">
                    <option selected>Select Unit</option>
                </select>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="LeaveRemaining" class="control-label"></label>
                        <input asp-for="LeaveRemaining" value="@ViewBag.RemainingLeaves" readonly class="form-control" />
                        <span asp-validation-for="LeaveRemaining" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="TotalLeave" class="control-label"></label>
                        <input asp-for="TotalLeave" value="@ViewBag.TotalLeaves" readonly class="form-control" />
                        <span asp-validation-for="TotalLeave" class="text-danger"></span>
                    </div>
                </div>
            </div>
          
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" id="TxtFrom" class="form-control " value="@DateTime.Now" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" id="TxtTo" class="form-control enddate" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Purpose" class="control-label"></label>
                <textarea asp-for="Purpose" class="form-control purpose"></textarea>
                <span asp-validation-for="Purpose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control select" asp-items="ViewBag.Users">
                    <option selected>Select Users</option>
                </select>

            </div>
            <div class="m-t-20 text-center">
                <button class="btn btn-primary submit-btn">Send Leave Request</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{

    <script>
    $(function () {
            $("#TxtFrom").datepicker({
                numberOfMonths: 1,
                //dateFormat:'DD,d MM, yy',
                dateFormat: 'yy-mm-dd',
                onSelect: function (selectdate) {
                    var dt = new Date(selectdate);
                    dt.setDate(dt.getDate() + 1)
                    $("#TxtTo").datepicker("option", "minDate", dt)
                }
            });


            $("#TxtTo").datepicker({
                numberOfMonths: 1,
                //dateFormat:'DD,d MM, yy',
                dateFormat: 'yy-mm-dd',
                onSelect: function (selectdate) {
                    var dt = new Date(selectdate);
                    dt.setDate(dt.getDate() - 1)
                    $("#TxtFrom").datepicker("option", "maxDate", dt)
                }
            });
        });</script>
    @*<script src="~/Preclinic-Hospital-Bootstrap4-Admin/assets/js/select2.min.js"></script>
    <script src="~/Preclinic-Hospital-Bootstrap4-Admin/assets/js/bootstrap-datetimepicker.min.js"></script>*@
    <partial name="_ValidationScriptsPartial" />

}