﻿@model Leave


@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <h4 class="page-title text-center text-danger">Are you sure you want to delete this?</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <a asp-action="Index" class="btn btn-primary float-right btn-rounded"><i class="fa fa-backward"></i> Back</a>
    </div>
</div>

<div>
   
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HRStatus) :
        </dt>
        <dd class="col-sm-10">
            @if (Model.HRStatus == true)
            {
                <span class="custom-badge status-green">Approved</span>
            }
            else if (Model.HRStatus == false)
            {
                <span class="custom-badge status-red">Dissaproved</span>
            }
            else
            {
                <span class="custom-badge status-green">Pending</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UHeadStatus) :
        </dt>
        <dd class="col-sm-10">
            @if (Model.UHeadStatus == true)
            {
                <span class="custom-badge status-green">Approved</span>
            }
            else if (Model.UHeadStatus == false)
            {
                <span class="custom-badge status-red">Dissaproved</span>
            }
            else
            {
                <span class="custom-badge status-green">Pending</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purpose)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
    </dl>
</div>

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <form method="post" enctype="multipart/form-data" asp-action="Delete">
            <input asp-for="Id" hidden />
                  

            <div class="m-t-20 text-center">
                <button class="btn btn-danger submit-btn">Delete</button>
            </div>
        </form>
    </div>
</div>
@*<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-rounded"><i class="fa fa-edit"></i> Edit</a>
</div>*@


