﻿@model Leave

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Leave Details";
}


@if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead") || User.IsInRole("Admin"))
{
    @if (Model.UHeadStatus == null)
    {
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Pending Approval-->Unit Head</h4>
            <p>
                <strong>@Html.DisplayNameFor(model => model.EmployeeEmail):</strong>  @Model.EmployeeEmail 's Leave Request <br />
            </p>
            <hr />
            <p>
                @Html.DisplayNameFor(model => model.Created) - @Html.DisplayFor(model => model.Created)
            </p>
        </div>
    }

    else if (Model.UHeadStatus == true)
    {
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Approved-->Unit Head </h4>
            <p>
                <strong>@Html.DisplayNameFor(model => model.EmployeeEmail):</strong>  @Model.EmployeeEmail 's Leave Request <br />
            </p>
            <hr />
            <p>
                @Html.DisplayNameFor(model => model.Created) - @Html.DisplayFor(model => model.Created)
            </p>
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Rejected-->Unit Head </h4>
            <p>
                <strong>@Html.DisplayNameFor(model => model.EmployeeEmail):</strong>  @Model.EmployeeEmail 's Leave Request <br />
            </p>
            <hr />
            <p>
                @Html.DisplayNameFor(model => model.Created) - @Html.DisplayFor(model => model.Created)
            </p>
        </div>
    }


    <div>
        <h4 class="text-center">Leave Details</h4>
        <hr />
        <dl class="row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartDate) :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EndDate) :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HRStatus) :
            </dt>
            <dd class="col-sm-10">
                @if (Model.HRStatus == true)
                {
                    <span class="custom-badge status-green">Approved</span>
                }
                else if (Model.HRStatus == false)
                {
                    <span class="custom-badge status-red">Dissaproved</span>
                }
                else
                {
                    <span class="custom-badge status-green">Pending</span>
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UHeadStatus) :
            </dt>
            <dd class="col-sm-10">
                @if (Model.UHeadStatus == true)
                {
                    <span class="custom-badge status-green">Approved</span>
                }
                else if (Model.UHeadStatus == false)
                {
                    <span class="custom-badge status-red">Dissaproved</span>
                }
                else
                {
                    <span class="custom-badge status-green">Pending</span>
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Purpose)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Purpose)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Created) :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Created)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LeaveRequestStatus) :
            </dt>
            <dd class="col-sm-10">

                @Html.DisplayFor(model => model.LeaveRequestStatus)

            </dd>
        </dl>
    </div>







    @if (Model.UHeadStatus == null)
    {


        <form method="post" asp-controller="Leaves" asp-action="ApproveRequest" asp-route-id="@Model.Id">

            @*<a class="btn btn-success">
                    <i class="fa fa-check"></i> Approve
                </a>*@
            <button class="btn btn-success btn-sm">Approve</button>
        </form>
        <hr />
        <form method="post" asp-controller="Leaves" asp-action="RejectRequest" asp-route-id="@Model.Id">
            <div class="form-group">
                <label asp-for="LeaveRequestStatus" class="control-label"></label>
                <textarea asp-for="LeaveRequestStatus" class="form-control purpose" placeholder="Leave a reason for dissaproval"></textarea>
                <span asp-validation-for="LeaveRequestStatus" class="text-danger"></span>
            </div>

            @*<a class="btn btn-danger" asp-action="RejectRequest" asp-route-id="@Model.Id">
                    <i class="fa fa-remove"></i> Reject
                </a>*@
            <button class="btn btn-danger btn-sm">Reject</button>
        </form>
    }




}

@if (signInManager.IsSignedIn(User) && User.IsInRole("HR") || User.IsInRole("Admin"))
{
    @if (Model.HRStatus == null)
    {
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Pending Approval-->HR </h4>
            <p>
                <strong>@Html.DisplayNameFor(model => model.EmployeeEmail):</strong>  @Model.EmployeeEmail 's Leave Request <br />
            </p>
            <hr />
            <p>
                @Html.DisplayNameFor(model => model.Created) - @Html.DisplayFor(model => model.Created)
            </p>
        </div>
    }

    else if (Model.HRStatus == true)
    {
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Approved-->HR </h4>
            <p>
                <strong>@Html.DisplayNameFor(model => model.EmployeeEmail):</strong>  @Model.EmployeeEmail 's Leave Request <br />
            </p>
            <hr />
            <p>
                @Html.DisplayNameFor(model => model.Created) - @Html.DisplayFor(model => model.Created)
            </p>
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Rejected-->HR </h4>
            <p>
                <strong>@Html.DisplayNameFor(model => model.EmployeeEmail):</strong>  @Model.EmployeeEmail 's Leave Request <br />
            </p>
            <hr />
            <p>
                @Html.DisplayNameFor(model => model.Created) - @Html.DisplayFor(model => model.Created)
            </p>
        </div>
    }

    <div>
        <h4 class="text-center">Leave Details</h4>
        <hr />
        <dl class="row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartDate) :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EndDate) :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HRStatus) :
            </dt>
            <dd class="col-sm-10">
                @if (Model.HRStatus == true)
                {
                    <span class="custom-badge status-green">Approved</span>
                }
                else if (Model.HRStatus == false)
                {
                    <span class="custom-badge status-red">Dissaproved</span>
                }
                else
                {
                    <span class="custom-badge status-green">Pending</span>
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UHeadStatus) :
            </dt>
            <dd class="col-sm-10">
                @if (Model.UHeadStatus == true)
                {
                    <span class="custom-badge status-green">Approved</span>
                }
                else if (Model.UHeadStatus == false)
                {
                    <span class="custom-badge status-red">Dissaproved</span>
                }
                else
                {
                    <span class="custom-badge status-green">Pending</span>
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Purpose)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Purpose)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Created) :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Created)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LeaveRequestStatus) :
            </dt>
            <dd class="col-sm-10">

                @Html.DisplayFor(model => model.LeaveRequestStatus)

            </dd>
        </dl>
    </div>

    @if (Model.HRStatus == null)
    {
        <form method="post" asp-controller="Leaves" asp-action="ApproveRequest" asp-route-id="@Model.Id">

            @*<a class="btn btn-success">
                    <i class="fa fa-check"></i> Approve
                </a>*@
            <button class="btn btn-success btn-sm">Approve</button>
        </form>

        <form method="post" asp-controller="Leaves" asp-action="RejectRequest" asp-route-id="@Model.Id">
            <div class="form-group">
                <label asp-for="LeaveRequestStatus" class="control-label"></label>
                <textarea asp-for="LeaveRequestStatus" class="form-control purpose" placeholder="Leave a reason for dissaproval"></textarea>
                <span asp-validation-for="LeaveRequestStatus" class="text-danger"></span>
            </div>

            @*<a class="btn btn-danger" asp-action="RejectRequest" asp-route-id="@Model.Id">
                    <i class="fa fa-remove"></i> Reject
                </a>*@
            <button class="btn btn-danger btn-sm">Reject</button>
        </form>
        @*<a class="btn btn-success" asp-action="ApproveRequest" asp-route-id="@Model.Id">
                <i class="fa fa-check"></i> Approve
            </a>
            <a class="btn btn-danger" asp-action="RejectRequest" asp-route-id="@Model.Id">
                <i class="fa fa-remove"></i> Reject
            </a>*@

    }



}


@if (signInManager.IsSignedIn(User) && User.IsInRole("User"))
{
    <div>
        <h4 class="text-center">Leave Details</h4>
        <hr />
        <dl class="row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartDate) :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EndDate) :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HRStatus) :
            </dt>
            <dd class="col-sm-10">
                @if (Model.HRStatus == true)
                {
                    <span class="custom-badge status-green">Approved</span>
                }
                else if (Model.HRStatus == false)
                {
                    <span class="custom-badge status-red">Dissaproved</span>
                }
                else
                {
                    <span class="custom-badge status-green">Pending</span>
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UHeadStatus) :
            </dt>
            <dd class="col-sm-10">
                @if (Model.UHeadStatus == true)
                {
                    <span class="custom-badge status-green">Approved</span>
                }
                else if (Model.UHeadStatus == false)
                {
                    <span class="custom-badge status-red">Dissaproved</span>
                }
                else
                {
                    <span class="custom-badge status-green">Pending</span>
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Purpose)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Purpose)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Created) :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Created)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LeaveRequestStatus) :
            </dt>
            <dd class="col-sm-10">
               
                    @Html.DisplayFor(model => model.LeaveRequestStatus)
                
            </dd>
        </dl>
    </div>
    @*<div>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-rounded"><i class="fa fa-edit"></i> Edit</a>
        </div>*@
}


<div>
    @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
    {
        <a asp-action="UHLeaveList" class="btn btn-primary float-right btn-rounded"><i class="fa fa-backward"></i> Back</a>
    }
    else if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
    {
        <a asp-action="HRLeaveList" class="btn btn-primary float-right btn-rounded"><i class="fa fa-backward"></i> Back</a>
    }
    else
    {
        <a asp-action="Index" class="btn btn-primary float-right btn-rounded"><i class="fa fa-backward"></i> Back</a>
    }

</div>