﻿@model Leave
@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager
@{
    ViewData["Title"] = "Edit Leave";
    var user = await userManager.GetUserAsync(User);
    var fullName = user.FirstName + " " + user.LastName;
}

@*<link href="~/Preclinic-Hospital-Bootstrap4-Admin/assets/css/select2.min.css" rel="stylesheet" />
    <link href="~/Preclinic-Hospital-Bootstrap4-Admin/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />*@

<div class="row">
    <div class="col-sm-4 col-3">
        <h4 class="page-title"></h4>
    </div>
    <div class="col-sm-8 col-9 text-right m-b-20">
        <a asp-action="Index" class="btn btn-primary float-right btn-rounded"><i class="fa fa-backward"></i> Back</a>
    </div>
</div>
<div class="row">



    <div class="col-lg-8 offset-lg-2">
      
      
        <div>
            <div class="">
                <h4 class="page-title text-center text-info">Edit Leave</h4>
            </div>
            @*
        <div class="col-sm-8 col-9 text-right m-b-20">
            <a asp-action="Index" class="btn btn-primary float-right btn-rounded"><i class="fa fa-plus"></i> Back</a>
        </div>*@
            @*<h4 class="page-title text-center text-info">Edit Leave</h4>*@
            <div asp-validation-summary="All" class="text-danger"></div>

        </div>
        <form method="post" enctype="multipart/form-data" asp-action="Edit">
            <input asp-for="EmployeeEmail" value="@user.Email" hidden />
            <input asp-for="EmployeeId" value="@user.Id" hidden />
            <input asp-for="AddedBy" value="@user.Email" hidden />
            <input asp-for="LeaveUtilized" hidden />
            <input asp-for="Id" hidden />
            <div class="form-group">
                <label asp-for="LeaveTypeId" class="control-label"></label>
                <select asp-for="LeaveTypeId" class="form-control leavetype select" asp-items="ViewBag.LeaveTypeId">
                    <option selected>Select Leave Type</option>
                </select>

            </div>
            <div class="form-group">
                <label asp-for="UnitsId" class="control-label"></label>
                <select asp-for="UnitsId" class="form-control select" asp-items="ViewBag.UnitsId">
                    <option selected>Select Unit</option>
                </select>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="LeaveRemaining" class="control-label"></label>
                        <input asp-for="LeaveRemaining" readonly class="form-control" />
                        <span asp-validation-for="LeaveRemaining" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="TotalLeave" class="control-label"></label>
                        <input asp-for="TotalLeave" readonly class="form-control" />
                        <span asp-validation-for="TotalLeave" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" id="TxtFrom" class="form-control " />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" id="TxtTo" class="form-control enddate" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Purpose" class="control-label"></label>
                <textarea asp-for="Purpose" class="form-control purpose"></textarea>
                <span asp-validation-for="Purpose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control select" asp-items="ViewBag.Users">
                    <option selected>Select Users</option>
                </select>

            </div>

            @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
               

                <p class="text-info text-center">Unit Head Approval</p>
                <div class="form-row">

                    <div class="form-group col-md-5">
                        <div class="form-check form-check-inline">
                            <label>
                                @Html.RadioButtonFor(model => model.UHeadStatus, true)
                                <a asp-for="isUnitHeadApproved" class="btn btn-sm btn-rounded btn-primary">
                                    <span class="text-white">Approve</span>
                                </a>

                            </label>
                        </div>
                    </div>

                    <div class="form-group col-md-5">
                        <div class="form-check form-check-inline">
                            <label>

                                @Html.RadioButtonFor(model => model.UHeadStatus, false)
                                <a asp-for="isUnitHeadApproved" class="btn btn-sm btn-rounded btn-danger">

                                    <span class="text-white">Disapprove</span>
                                </a>
                            </label>
                        </div>
                    </div>

                </div>
            }



            @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
              

                <p class="text-info text-center">Hr. Approval</p>
                <div class="form-row">

                    <div class="form-group col-md-5">
                        <div class="form-check form-check-inline">
                            <label>
                                @Html.RadioButtonFor(model => model.HRStatus, true)
                                <a asp-for="isUnitHeadApproved" class="btn btn-sm btn-rounded btn-primary">
                                    <span class="text-white">Approve</span>
                                </a>

                            </label>
                        </div>
                    </div>

                    <div class="form-group col-md-5">
                        <div class="form-check form-check-inline">
                            <label>

                                @Html.RadioButtonFor(model => model.HRStatus, false)
                                <a asp-for="isUnitHeadApproved" class="btn btn-sm btn-rounded btn-danger">

                                    <span class="text-white">Disapprove</span>
                                </a>
                            </label>
                        </div>
                    </div>

                </div>
            }


            @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead") )
            {
                <label hidden>
                    @Html.RadioButtonFor(model => model.HRStatus, true)
                    @Html.RadioButtonFor(model => model.HRStatus, false)
                </label>



                <p class="text-info text-center">Unit Head Approval</p>
                <div class="form-row">

                    <div class="form-group col-md-5">
                        <div class="form-check form-check-inline">
                            <label>
                                @Html.RadioButtonFor(model => model.UHeadStatus, true)
                                <a asp-for="isUnitHeadApproved" class="btn btn-sm btn-rounded btn-primary">
                                    <span class="text-white">Approve</span>
                                </a>

                            </label>
                        </div>
                    </div>

                    <div class="form-group col-md-5">
                        <div class="form-check form-check-inline">
                            <label>

                                @Html.RadioButtonFor(model => model.UHeadStatus, false)
                                <a asp-for="isUnitHeadApproved" class="btn btn-sm btn-rounded btn-danger">

                                    <span class="text-white">Disapprove</span>
                                </a>
                            </label>
                        </div>
                    </div>

                </div>
            }

            @if (signInManager.IsSignedIn(User) && User.IsInRole("HR") )
            {
                <label hidden>
                    @Html.RadioButtonFor(model => model.UHeadStatus, true)
                    @Html.RadioButtonFor(model => model.UHeadStatus, false)
                </label>

                <p class="text-info text-center">Hr. Approval</p>
                <div class="form-row">

                    <div class="form-group col-md-5">
                        <div class="form-check form-check-inline">
                            <label>
                                @Html.RadioButtonFor(model => model.HRStatus, true)
                                <a asp-for="isUnitHeadApproved" class="btn btn-sm btn-rounded btn-primary">
                                    <span class="text-white">Approve</span>
                                </a>

                            </label>
                        </div>
                    </div>

                    <div class="form-group col-md-5">
                        <div class="form-check form-check-inline">
                            <label>

                                @Html.RadioButtonFor(model => model.HRStatus, false)
                                <a asp-for="isUnitHeadApproved" class="btn btn-sm btn-rounded btn-danger">

                                    <span class="text-white">Disapprove</span>
                                </a>
                            </label>
                        </div>
                    </div>

                </div>
            }

            <div class="m-t-20 text-center">
                <button class="btn btn-primary submit-btn">Update Leave Request</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{

    <script>
    $(function () {
            $("#TxtFrom").datepicker({
                numberOfMonths: 1,
                //dateFormat:'DD,d MM, yy',
                dateFormat: 'yy-mm-dd',
                onSelect: function (selectdate) {
                    var dt = new Date(selectdate);
                    dt.setDate(dt.getDate() + 1)
                    $("#TxtTo").datepicker("option", "minDate", dt)
                }
            });


            $("#TxtTo").datepicker({
                numberOfMonths: 1,
                //dateFormat:'DD,d MM, yy',
                dateFormat: 'yy-mm-dd',
                onSelect: function (selectdate) {
                    var dt = new Date(selectdate);
                    dt.setDate(dt.getDate() - 1)
                    $("#TxtFrom").datepicker("option", "maxDate", dt)
                }
            });
        });</script>
    @*<script src="~/Preclinic-Hospital-Bootstrap4-Admin/assets/js/select2.min.js"></script>
        <script src="~/Preclinic-Hospital-Bootstrap4-Admin/assets/js/bootstrap-datetimepicker.min.js"></script>*@
    <partial name="_ValidationScriptsPartial" />

}


