﻿@model IEnumerable<Leave>

@{
    ViewData["Title"] = "Leaves List";
}

<link href="~/Preclinic-Hospital-Bootstrap4-Admin/assets/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-sm-4 col-3">
        <h4 class="page-title"></h4>
    </div>
    <div class="col-sm-8 col-9 text-right m-b-20">
        <a asp-action="Create" class="btn btn-primary float-right btn-rounded"><i class="fa fa-plus"></i> Create Leave</a>
    </div>
</div>

@if (Model.Any())
{
    <div class="col-md-12">

        <div class="card-box">
            <div class="card-block">
                <h6 class="card-title text-bold text-center">All Leaves</h6>

                <p class="content-group">

                </p>
                <a href="javascript:location.reload(true)" class="btn btn-success text-dark ml-auto mb-3 mb-sm-0">Refresh Leaves</a>
                <hr />
                <div class="table-responsive">
                    <table class="table table-border display table-striped custom-table  mb-0 " id="customerDatatable">
                        <thead>
                            <tr>
                                <th>SN</th>
                               
                                <th>
                                    Employee Email
                                </th>
                                <th>
                                    Start Date
                                </th>
                                <th>
                                    End Date
                                </th>
                                <th>U.head</th>
                                <th>HR.</th>
                                <th>Status.</th>

                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                 
                                    <td>
                                        <a asp-action="Details" asp-controller="Leaves" asp-route-id="@item.Id">
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </a>

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmployeeEmail)
                                    </td>
                                    <td> @Html.DisplayFor(modelItem => item.StartDate)</td>
                                    <td> @Html.DisplayFor(modelItem => item.EndDate)</td>
                                    <td>
                                        @if (item.UHeadStatus == true)
                                        {
                                        <span class="custom-badge status-orange">Approved</span>
                                        }
                                        else if (item.UHeadStatus == null)
                                        {
                                        <span class="custom-badge status-green"> Awaiting Approval</span>
                                        }
                                        else
                                        {
                                        <span class="custom-badge status-red">Disapproved</span>

                                        }
                                    </td>
                                    <td>
                                        @if (item.HRStatus == true)
                                        {
                                        <span class="custom-badge status-orange">Approved</span>
                                        }
                                        else if (item.HRStatus == null)
                                        {
                                    <span class="custom-badge status-green">Awaiting Approval</span>
                                        }
                                        else
                                        {
                                    <span class="custom-badge status-orange">Undergoing Review</span>

                                        }
                                    </td>
                                    <td>
                                        @if (item.UHeadStatus == true && item.HRStatus==true)
                                        {
                                        <span class="custom-badge status-green">Approved</span>
                                        }
                                        else if (item.UHeadStatus == false && item.HRStatus == false)
                                        {
                                          <span class="custom-badge status-purple">Dissaproved</span>
                                        }
                                        else
                                        {
                                            <span class="custom-badge status-orange">Undergoing Review</span>

                                        }
                                    </td>
                                    <td class="text-right">
                                        @if (item.UHeadStatus==false)
                                        {
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-database m-r-5"></i> Details</a>
                                                    @*<a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-eraser m-r-5"></i> Edit</a>*@
                                                    <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        }
                                        else if (item.UHeadStatus == null && item.HRStatus == null)
                                        {
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-database m-r-5"></i> Details</a>
                                                    @*<a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-eraser m-r-5"></i> Edit</a>*@
                                                    <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <span class="custom-badge status-green">Disabled</span>
                                        }

                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

else
{
    <h4 class="text-danger">You haven't applied for any Leave yet, kindly apply..</h4>
}



@section Scripts{
    <script src="~/Preclinic-Hospital-Bootstrap4-Admin/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/Preclinic-Hospital-Bootstrap4-Admin/assets/js/dataTables.bootstrap4.min.js"></script>

}


