﻿@model IEnumerable<LeaveUpload>

@{
    ViewData["Title"] = "Index";
}


<link href="~/Preclinic-Hospital-Bootstrap4-Admin/assets/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

@if (TempData["test"] != null)
{
    <p class="text-center text-info">@TempData["test"]</p>
}


<h4 class="text-center text-secondary">Upload Leave and read your Excel file here </h4>


<hr />
<div class="row">
    <div class="col-md-6 ">
        <form asp-action="UploadLeave" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label">Upload Leave File Here:</label>
                <input type="file" class="" name="theExcel" /><br />
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="submit" value="Upload Leave" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6 ">
        <form  method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label">Read Excel File Here:</label>
                <input type="file" id="fUpload" name="files" /><br />
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="submit" id="btnUpload" value="Upload" class="btn btn-primary" />
                    </div>
                </div>
            </div>

            <br />
            <div id="dvData"></div>
        </form>
    </div>
    @*<div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-4">
                        <input type="file" id="fUpload" name="files" class="form-control" />
                    </div>
                    <div class="col-md-8">
                        <input type="button" id="btnUpload" value="Upload" class="btn btn-info" />
                    </div>
                </div>

                <br />
                <div id="dvData"></div>
            </form>
        </div>*@



</div>

<hr />



@if (Model.Any())
{
    <div class="col-md-12">
        <div class="card-box">
            <div class="card-block">
                <h6 class="card-title text-bold text-center">All Leaves</h6>
                <p class="content-group">

                </p>
                <a href="javascript:location.reload(true)" class="btn btn-success text-dark ml-auto mb-3 mb-sm-0">Refresh Leaves</a>
                <hr />
                <div class="table-responsive">
                    <table class="table table-border display table-striped custom-table  mb-0 " id="customerDatatable">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>
                                    Surname
                                </th>
                                <th>
                                    F.Name
                                </th>
                                <th>
                                    StaffNumber
                                </th>
                                <th>
                                    Location
                                </th>
                                <th>
                                    OutstandingLeaves
                                </th>
                                <th>
                                    CurrentLeave
                                </th>
                                <th>
                                    TotalLeaves
                                </th>
                                <th>
                                    RemainingLeaves
                                </th>
                                <th>
                                    AddedBy
                                </th>
                                <th>
                                    Date
                                </th>

                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Surname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.StaffNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Location)
                                    </td>
                                    <td> @Html.DisplayFor(modelItem => item.NumberOfOutstandingLeaves)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CurrentLeaveDays)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalLeaves)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RemainingLeaves)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AddedBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedBy)
                                    </td>

                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" asp-action="Details" asp-controller="User" asp-route-id="@item.Id"><i class="fa fa-database m-r-5"></i> Details</a>
                                                <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

else
{
    <h4 class="text-danger">Leaves haven't been uploaded yet!!</h4>
}


@section Scripts{


    <script src="~/Preclinic-Hospital-Bootstrap4-Admin/assets/js/jquery.dataTables.min.js"></script>

    <script src="~/Preclinic-Hospital-Bootstrap4-Admin/assets/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#btnUpload').on('click', function () {
                var fileExtension = ['xls', 'xlsx'];
                var filename = $('#fUpload').val();
                if (filename.length == 0) {
                    alert("Please select a file.");
                    return false;
                }
                else {
                    var extension = filename.replace(/^.*\./, '');
                    if ($.inArray(extension, fileExtension) == -1) {
                        alert("Please select only excel files.");
                        return false;
                    }
                }
                var fdata = new FormData();
                var fileUpload = $("#fUpload").get(0);
                var files = fileUpload.files;
                fdata.append(files[0].name, files[0]);
                $.ajax({
                    type: "POST",
                    url: "/LeaveUpload/OnPostImport",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: fdata,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.length == 0)
                            alert('Some error occured while uploading');
                        else {
                            $('#dvData').html(response);
                        }
                    },
                    error: function (e) {
                        $('#dvData').html(e.responseText);
                    }
                });
            })
        });
    </script>

}


