﻿
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{

    var user = await UserManager.GetUserAsync(User);


    var userImage = user.ProfileImageUrl;


    var photopath = (user.ProfileImageUrl ?? "~/Preclinic-Hospital-Bootstrap4-Admin/assets/img/Rimg.png");
 }

@if (SignInManager.IsSignedIn(User))
{
    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
        <span class="user-img">
          
            <img class="rounded-circle" src="@photopath" width="24" alt="Admin" asp-append-version="true">
            <span class="status online"></span>
        </span>
        @*<span>Admin</span>*@
    </a>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
     
        <a class="dropdown-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </a>


    </div>
}

else
{
    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
        <span class="user-img">

            <img class="rounded-circle" src="~/Preclinic-Hospital-Bootstrap4-Admin/assets/img/user.jpg" width="24" alt="Admin">
            <span class="status online"></span>
        </span>
        @*<span>Admin</span>*@
    </a>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Register</a>
        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
}



@*<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>*@
