﻿
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{ 
    var user = await UserManager.GetUserAsync(User);


    var userImage = user.ProfileImageUrl;


    var photopath = (user.ProfileImageUrl ?? "~/Preclinic-Hospital-Bootstrap4-Admin/assets/img/Rimg.png");
}


@if (SignInManager.IsSignedIn(User))
{

    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
    <a class="dropdown-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </a>


}

else
{
    
        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Register</a>
        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Login</a>
    
}

