﻿@model int


@{
    ViewData["Title"] = "ErrorPage";
}

<div class="main-wrapper error-wrapper">
    <div class="error-box">
        <h1>404</h1>
        <h3><i class="fa fa-warning"></i> Oops! Page not found!</h3>
        <p>An error occurred while processing your request. @ViewBag.ErrorMessage</p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary go-home">Go Home</a>
    </div>
</div>

