﻿@model Tasks
@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager

@{
    ViewData["Title"] = "Create Task";
    var user = await userManager.GetUserAsync(User);
}



<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div>
            <h4 class="text-center text-info">Create Task</h4>

        </div>
        <hr />
        <div>

            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <form method="post" enctype="multipart/form-data" asp-action="Create">
            <input asp-for="AssignBy" value="@user.Email" hidden />

            <div class="form-group">
                <label asp-for="TaskName" class="control-label"></label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskType" class="control-label"></label>
                <input asp-for="TaskType" class="form-control" />
                <span asp-validation-for="TaskType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskDescription" class="control-label"></label>
                <textarea asp-for="TaskDescription" class="form-control purpose"></textarea>
                <span asp-validation-for="TaskDescription" class="text-danger"></span>
            </div>
            <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<Status>()" hidden></select>
           
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" id="TxtFrom" class="form-control " value="@DateTime.Now" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" id="TxtTo" class="form-control enddate" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control select" asp-items="ViewBag.Users">
                    <option selected>Select Users</option>
                </select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="m-t-20 text-center">
                <button class="btn btn-primary submit-btn">Send Task</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script>
    $(function () {
            $("#TxtFrom").datepicker({
                numberOfMonths: 1,
                //dateFormat:'DD,d MM, yy',
                dateFormat: 'yy-mm-dd',
                onSelect: function (selectdate) {
                    var dt = new Date(selectdate);
                    dt.setDate(dt.getDate() + 1)
                    $("#TxtTo").datepicker("option", "minDate", dt)
                }
            });


            $("#TxtTo").datepicker({
                numberOfMonths: 1,
                //dateFormat:'DD,d MM, yy',
                dateFormat: 'yy-mm-dd',
                onSelect: function (selectdate) {
                    var dt = new Date(selectdate);
                    dt.setDate(dt.getDate() - 1)
                    $("#TxtFrom").datepicker("option", "maxDate", dt)
                }
            });
        });</script>
    <partial name="_ValidationScriptsPartial" />
}