﻿@model Tasks
@inject SignInManager<ApplicationUser> signinManager
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Details";
}


<div class="row">
    <div class="col-lg-12">

        <div asp-validation-summary="All" class="text-danger"></div>
        @if (signinManager.IsSignedIn(User) && User.IsInRole("HR") || User.IsInRole("Admin"))
        {
            <a asp-action="TaskUHr" class="btn btn-primary float-right btn-rounded"><i class="fa fa-backward"></i> Back</a>
        }
        else if (signinManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
        {
            <a asp-action="TaskUhead" class="btn btn-primary float-right btn-rounded"><i class="fa fa-backward"></i> Back</a>
        }
        else
        {
            <a asp-action="Index" class="btn btn-primary float-right btn-rounded"><i class="fa fa-backward"></i> Back</a>
        }

    </div>
</div>

<div>
    <h4 class="text-center">Task Details</h4>
  
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskName) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskType) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HRStatus) :
        </dt>
        <dd class="col-sm-10">
            @if (Model.HRStatus == true)
            {
                <span class="custom-badge status-green">Approved</span>
            }
            else if (Model.HRStatus == false)
            {
                <span class="custom-badge status-red">Dissaproved</span>
            }
            else
            {
                <span class="custom-badge status-green">Pending</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UHeadStatus) :
        </dt>
        <dd class="col-sm-10">
            @if (Model.UHeadStatus == true)
            {
                <span class="custom-badge status-green">Approved</span>
            }
            else if (Model.UHeadStatus == false)
            {
                <span class="custom-badge status-red">Dissaproved</span>
            }
            else
            {
                <span class="custom-badge status-green">Pending</span>
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status) :
        </dt>
        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.Status)

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssignBy) :
        </dt>
        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.AssignBy)

        </dd>
        <dt class="col-sm-2">
            Assigned To :
        </dt>
        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.User.UserName)

        </dd>
    </dl>
</div>
