﻿@model Tasks
@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager
@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-sm-4 col-3">
        <h4 class="page-title"></h4>
    </div>
    <div class="col-sm-8 col-9 text-right m-b-20">
        @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
        {
            <a asp-action="TaskUHr" class="btn btn-primary float-right btn-rounded"><i class="fa fa-backward"></i> Back</a>
        }
        else if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
        {
            <a asp-action="TaskUhead" class="btn btn-primary float-right btn-rounded"><i class="fa fa-backward"></i> Back</a>
        }
        else
        {
            <a asp-action="Index" class="btn btn-primary float-right btn-rounded"><i class="fa fa-backward"></i> Back</a>
        }

    </div>
</div>
<div class="row">



    <div class="col-lg-8 offset-lg-2">


        <div>
            <div class="">
                <h4 class="page-title text-center text-info">Edit Task</h4>
            </div>
            @*
                <div class="col-sm-8 col-9 text-right m-b-20">
                    <a asp-action="Index" class="btn btn-primary float-right btn-rounded"><i class="fa fa-plus"></i> Back</a>
                </div>*@
            @*<h4 class="page-title text-center text-info">Edit Leave</h4>*@
            <div asp-validation-summary="All" class="text-danger"></div>

        </div>
        <form method="post" enctype="multipart/form-data" asp-action="Edit">

            <input asp-for="Id" hidden />
            <input asp-for="AssignBy" hidden />


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="TaskName" class="control-label"></label>
                        @if (signInManager.IsSignedIn(User) && !(User.IsInRole("User")))
                        {
                            <input asp-for="TaskName" class="form-control" />
                        }
                        else
                        {
                            <input asp-for="TaskName" class="form-control" readonly/>
                        }
                        <span asp-validation-for="TaskName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="TaskType" class="control-label"></label>
                        @if (signInManager.IsSignedIn(User) && !(User.IsInRole("User")))
                        {
                            <input asp-for="TaskType" class="form-control" />
                        }
                        else
                        {
                            <input asp-for="TaskType" class="form-control" readonly/>
                        }

                        <span asp-validation-for="TaskType" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        @if (signInManager.IsSignedIn(User) && !(User.IsInRole("User")))
                        {
                            <input asp-for="StartDate" id="TxtFrom" class="form-control " />
                        }
                        else
                        {
                            <input asp-for="StartDate" id="TxtFrom" class="form-control " readonly/>
                        }

                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        @if (signInManager.IsSignedIn(User) && !(User.IsInRole("User")))
                        {
                            <input asp-for="EndDate" id="TxtTo" class="form-control enddate" />
                        }
                        else
                        {
                            <input asp-for="EndDate" id="TxtTo" class="form-control enddate" readonly/>
                        }

                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="TaskDescription" class="control-label"></label>
                @if (signInManager.IsSignedIn(User) && !(User.IsInRole("User")))
                {
                    <textarea asp-for="TaskDescription" class="form-control purpose"></textarea>
                }
                else
                {
                    <textarea asp-for="TaskDescription" class="form-control purpose" readonly></textarea>
                }

                <span asp-validation-for="TaskDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                @if (signInManager.IsSignedIn(User) && !(User.IsInRole("User")))
                {
                    <label asp-for="EmployeeId" class="control-label"></label>
                    <select asp-for="EmployeeId" class="form-control select" asp-items="ViewBag.Users">
                        <option selected>Select Users</option>
                    </select>
                }
                else
                {
                    @*<select asp-for="EmployeeId" class="form-control select" asp-items="ViewBag.Users">
                        <option selected>Select Users</option>
                    </select>*@
                    <input asp-for="EmployeeId" class="form-control" hidden/>
                }

            <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Comment" class="control-label"></label>
                        <input asp-for="Comment" class="form-control" />
                        <span asp-validation-for="Comment" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Remark" class="control-label"></label>
                        <input asp-for="Remark" class="form-control" />
                        <span asp-validation-for="Remark" class="text-danger"></span>
                    </div>
                </div>
            </div>


            @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {


                <p class="text-info text-center">Unit Head Approval</p>
                <div class="form-row">

                    <div class="form-group col-md-5">
                        <div class="form-check form-check-inline">
                            <label>
                                @Html.RadioButtonFor(model => model.UHeadStatus, true)
                                <a asp-for="isUnitHeadApproved" class="btn btn-sm btn-rounded btn-primary">
                                    <span class="text-white">Approve</span>
                                </a>

                            </label>
                        </div>
                    </div>

                    <div class="form-group col-md-5">
                        <div class="form-check form-check-inline">
                            <label>

                                @Html.RadioButtonFor(model => model.UHeadStatus, false)
                                <a asp-for="isUnitHeadApproved" class="btn btn-sm btn-rounded btn-danger">

                                    <span class="text-white">Disapprove</span>
                                </a>
                            </label>
                        </div>
                    </div>

                </div>
            }



            @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {


                <p class="text-info text-center">Hr. Approval</p>
                <div class="form-row">

                    <div class="form-group col-md-5">
                        <div class="form-check form-check-inline">
                            <label>
                                @Html.RadioButtonFor(model => model.HRStatus, true)
                                <a asp-for="isUnitHeadApproved" class="btn btn-sm btn-rounded btn-primary">
                                    <span class="text-white">Approve</span>
                                </a>

                            </label>
                        </div>
                    </div>

                    <div class="form-group col-md-5">
                        <div class="form-check form-check-inline">
                            <label>

                                @Html.RadioButtonFor(model => model.HRStatus, false)
                                <a asp-for="isUnitHeadApproved" class="btn btn-sm btn-rounded btn-danger">

                                    <span class="text-white">Disapprove</span>
                                </a>
                            </label>
                        </div>
                    </div>

                </div>
            }


            @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
            {
                <input asp-for="Status" hidden />
                <label hidden>
                    @Html.RadioButtonFor(model => model.HRStatus, true)
                    @Html.RadioButtonFor(model => model.HRStatus, false)
                </label>



                <p class="text-info text-center">Unit Head Approval</p>
                <div class="form-row">

                    <div class="form-group col-md-5">
                        <div class="form-check form-check-inline">
                            <label>
                                @Html.RadioButtonFor(model => model.UHeadStatus, true)
                                <a asp-for="isUnitHeadApproved" class="btn btn-sm btn-rounded btn-primary">
                                    <span class="text-white">Approve</span>
                                </a>

                            </label>
                        </div>
                    </div>

                    <div class="form-group col-md-5">
                        <div class="form-check form-check-inline">
                            <label>

                                @Html.RadioButtonFor(model => model.UHeadStatus, false)
                                <a asp-for="isUnitHeadApproved" class="btn btn-sm btn-rounded btn-danger">

                                    <span class="text-white">Disapprove</span>
                                </a>
                            </label>
                        </div>
                    </div>

                </div>
            }

            @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
            {
                <input asp-for="Status" hidden />
                <label hidden>
                    @Html.RadioButtonFor(model => model.UHeadStatus, true)
                    @Html.RadioButtonFor(model => model.UHeadStatus, false)
                </label>

                <p class="text-info text-center">Hr. Approval</p>
                <div class="form-row">

                    <div class="form-group col-md-5">
                        <div class="form-check form-check-inline">
                            <label>
                                @Html.RadioButtonFor(model => model.HRStatus, true)
                                <a asp-for="isUnitHeadApproved" class="btn btn-sm btn-rounded btn-primary">
                                    <span class="text-white">Approve</span>
                                </a>

                            </label>
                        </div>
                    </div>

                    <div class="form-group col-md-5">
                        <div class="form-check form-check-inline">
                            <label>

                                @Html.RadioButtonFor(model => model.HRStatus, false)
                                <a asp-for="isUnitHeadApproved" class="btn btn-sm btn-rounded btn-danger">

                                    <span class="text-white">Disapprove</span>
                                </a>
                            </label>
                        </div>
                    </div>

                </div>
            }


            @if (signInManager.IsSignedIn(User) && User.IsInRole("User"))
            {

                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<Status>()"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            }

            <div class="m-t-20 text-center">
                <button class="btn btn-primary submit-btn">Update Task</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{

    <script>
    $(function () {
            $("#TxtFrom").datepicker({
                numberOfMonths: 1,
                //dateFormat:'DD,d MM, yy',
                dateFormat: 'yy-mm-dd',
                onSelect: function (selectdate) {
                    var dt = new Date(selectdate);
                    dt.setDate(dt.getDate() + 1)
                    $("#TxtTo").datepicker("option", "minDate", dt)
                }
            });


            $("#TxtTo").datepicker({
                numberOfMonths: 1,
                //dateFormat:'DD,d MM, yy',
                dateFormat: 'yy-mm-dd',
                onSelect: function (selectdate) {
                    var dt = new Date(selectdate);
                    dt.setDate(dt.getDate() - 1)
                    $("#TxtFrom").datepicker("option", "maxDate", dt)
                }
            });
        });</script>
    @*<script src="~/Preclinic-Hospital-Bootstrap4-Admin/assets/js/select2.min.js"></script>
        <script src="~/Preclinic-Hospital-Bootstrap4-Admin/assets/js/bootstrap-datetimepicker.min.js"></script>*@
    <partial name="_ValidationScriptsPartial" />

}



