﻿@model EmployeeBioData

@{
    ViewData["Title"] = "Home Page";
}


<div class="card text-center text-white bg-primary mb-3">
    <div class="card-header">
        Human Resource Management Application, welcome <b> @Model.FirstName @Model.LastName</b>
    </div>
    <div class="card-body">
        <h5 class="card-title">Hrms Mgt.</h5>
        <p class="card-text">When people go to work, they shouldn’t have to leave their hearts at home</p>
        @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>

