﻿@model Unit
@{
    ViewData["Title"] = "Edit Unit";
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <h4 class="page-title text-center">Edit Unit.</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>


        <a asp-action="Index" class="btn btn-primary float-right btn-rounded"><i class="fa fa-backward"></i> Back to Unit</a>

    </div>
</div>
<div class="row">
    <div class="col-lg-6 offset-lg-2">
        <form method="post" enctype="multipart/form-data" asp-action="Edit">
            <input asp-for="Id" hidden/>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input asp-for="CreatedOn" hidden/>

            <div class="m-t-20 text-center">
                <button class="btn btn-primary submit-btn">Update</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



