﻿@model UnitUsers
@{
    ViewData["Title"] = "Info";
}


<link href="~/Preclinic-Hospital-Bootstrap4-Admin/assets/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-sm-4 col-3">
        <h4 class="page-title">All users in @Model.Name Department</h4>
    </div>
    <div class="col-sm-8 col-9 text-right m-b-20">
      
        <a asp-action="Index"  class="btn btn-primary float-right btn-rounded"><i class="fa fa-backward"></i> Back to Unit</a>
    </div>
</div>

@if (Model.Users.Any())
{

    <div class="col-md-12">

        <div class="card-box">
            <div class="card-block">
                <h6 class="card-title text-bold text-center">All Users</h6>

                <p class="content-group">

                </p>
               
                <hr />
                <div class="table-responsive">
                    <table class="table table-border display table-striped custom-table  mb-0 " id="customerDatatable">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Phone Number
                                </th>
                                <th>
                                    Created On
                                </th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Users)
                            {
                            <tr>
                                <td> @Html.DisplayFor(modelItem => item.Id)</td>
                                <td>
                                    <a asp-action="Details" asp-controller="User" asp-route-id="@item.Id">
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </a>

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedOn)
                                </td>
                             

                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


}
else
{
    <h4 class="text-info">There are currently no user's in the system</h4>

}

@section Scripts{
    <script src="~/Preclinic-Hospital-Bootstrap4-Admin/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/Preclinic-Hospital-Bootstrap4-Admin/assets/js/dataTables.bootstrap4.min.js"></script>

}




