﻿@model UserdetailsVm
@{
    ViewData["Title"] = "User Details";
   
}

<div class="row">
    <div class="col-sm-7 col-6">
        <h4 class="page-title">@Model.User.UserName profile</h4>
    </div>

    <div class="col-sm-5 col-6 text-right m-b-30">
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary btn-rounded"><i class="fa fa-backward"></i> Back</a>
    </div>
</div>
<div class="card-box profile-header">
    <div class="row">
        <div class="col-md-12">
            <div class="profile-view">
                <div class="profile-img-wrap">
                    <div class="profile-img">

                        <a href="#"><img class="avatar" src="@Model.User.ProfileImageUrl" alt="" asp-append-version="true"></a>
                    </div>
                </div>
                <div class="profile-basic">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="profile-info-left">
                                <h3 class="user-name m-t-0 mb-0">@Model.User.FirstName @Model.User.LastName</h3>
                                <small class="text-muted">@Model.User.Unit.Name Department</small>
                                <div class="staff-id">Employee ID : @Model.User.Id</div>

                            </div>
                        </div>
                        <div class="col-md-7">
                            <ul class="personal-info">
                                <li>
                                    <span class="title">Phone:</span>
                                    <span class="text"><a href="#">@Model.User.PhoneNumber</a></span>
                                </li>
                                <li>
                                    <span class="title">Email:</span>
                                    <span class="text"><a href="#">@Model.User.Email</a></span>
                                </li>
                                <li>
                                    <span class="title">Birthday:</span>
                                    <span class="text">22nd Feb</span>
                                </li>
                                <li>
                                    <span class="title">Date Created:</span>
                                    <span class="text">@Model.User.CreatedOn</span>
                                </li>
                                <li>
                                    <span class="title">Gender:</span>
                                    <span class="text"> Male</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="profile-tabs">
    <ul class="nav nav-tabs nav-tabs-bottom">
        <li class="nav-item"><a class="nav-link active" href="#about-cont" data-toggle="tab">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab2" data-toggle="tab">User roles</a></li>

    </ul>

    <div class="tab-content">
        <div class="tab-pane show active" id="about-cont">
            <div class="row">
                <div class="col-md-12">
                    @if (Model.BioData != null)
                    {
                        <div class="card-box">
                            <h3 class="card-title">Education Informations</h3>
                            <div class="experience-box">
                                <ul class="experience-list">
                                    <li>
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <a href="#/" class="name">@Model.BioData.Institution</a>
                                                <div>@Model.BioData.Academic</div>
                                                <span class="time">2001 - 2003</span>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="card-box mb-0">
                            <h3 class="card-title">Experience</h3>
                            <div class="experience-box">
                                <ul class="experience-list">
                                    <li>
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <a href="#/" class="name">@Model.BioData.Professional</a>
                                                <span class="time">@Model.BioData.ProfessionalDescription </span>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <a href="#/" class="name">@Model.BioData.Designation</a>
                                                <span class="time">Jan 2004 - Present (@Model.BioData.YearsOfExperience)</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                    else
                    {
                        <h4 class="text-danger">This User haven't completed his Bio registration !!</h4>
                    }
                </div>
            </div>
        </div>
        <div class="tab-pane" id="bottom-tab2">
            @if (Model.User.Roles.Any())
            {
                @foreach (var item in Model.User.Roles)
                {
                    <a href="#" class="name"> @item.Role.Name</a>

                }
            }
            else
            {
                <h4 class="text-info">There are currently no roles's in the system</h4>
            }

        </div>

    </div>
</div>





