﻿@model LeaveType
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Create Leave";
    var user = await userManager.GetUserAsync(User);
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <h4 class="page-title text-center">Add Leave Type</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <a asp-action="Index" class="btn btn-primary float-right btn-rounded"><i class="fa fa-backward"></i> Back</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <form method="post" enctype="multipart/form-data" asp-action="Create">
            <div class="form-group">
                <label asp-for="Type"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea cols="30" rows="4" class="form-control" asp-for="Description" placeholder="Enter description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfDays"></label>
                <input asp-for="NumberOfDays" class="form-control" min="0"/>
                <span asp-validation-for="NumberOfDays" class="text-danger"></span>
            </div>
            <input asp-for="AddedBy" value="@user.UserName" hidden />
            <div class="m-t-20 text-center">
                <button class="btn btn-primary submit-btn">Create</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}