﻿@model LeaveType
@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <h4 class="page-title text-center text-danger">Are you sure you want to delete this?</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <a asp-action="Index" class="btn btn-primary float-right btn-rounded"><i class="fa fa-backward"></i> Back</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <form method="post" enctype="multipart/form-data" asp-action="Delete">
            <input asp-for="Id" hidden/>
            <div class="form-group">
                <label asp-for="Type"></label>
                <input asp-for="Type" class="form-control" readonly/>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea cols="30" rows="4" class="form-control" asp-for="Description" placeholder="Enter description" readonly></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfDays"></label>
                <input asp-for="NumberOfDays" class="form-control" min="0" readonly/>
                <span asp-validation-for="NumberOfDays" class="text-danger"></span>
            </div>
           
            <div class="m-t-20 text-center">
                <button class="btn btn-danger submit-btn">Delete</button>
            </div>
        </form>
    </div>
</div>


