﻿@model IEnumerable<LeaveType>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-sm-8 col-5">
        <h4 class="page-title">Leave Type</h4>
    </div>
    <div class="col-sm-4 col-7 text-right m-b-30">
        <a asp-action="Create" asp-controller="LeaveType" class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Leave Type</a>
    </div>
</div>

@if (Model.Any())
{
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Leave Type</th>
                            <th>Leave Days</th>
                            <th>Date Created</th>
                            <th>Created By</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Id
                                </td>
                                <td>@item.Type</td>
                                <td>@item.NumberOfDays</td>
                                <td>@item.CreatedBy</td>
                                <td>@item.AddedBy</td>                           
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

else
{
    <h4 class="text-info">There are currently no Leave type in the system</h4>
}


