﻿@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = null;
}



<h1 class="text-center">Email Confirmation successful</h1>

<p class="text-info">
   Kindly click this link to login <a asp-page="./Login">Login</a>
</p>