﻿@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<p class="text-danger">
    Please check your email to reset your password.
</p>

