﻿@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = null;
}

<h1 class="text-center text-success">Registration successful!</h1>

<p class="text-info">
    Please before you can login, kindly click on the link sent to your email address..
</p>




@*@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
   
    Please confirm your email: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}*@
