﻿@model EmployeeBioVm
@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Create Bio-data";
    var user = await userManager.GetUserAsync(User);
    var fullname = user.FirstName + " " + user.LastName;
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <h4 class="page-title text-info">Complete Bio-Data @fullname</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <form enctype="multipart/form-data" asp-action="Create">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <input asp-for="EmployeeId" value="@user.Id" hidden />
                <input asp-for="AddedBy" value="@user.UserName" hidden />

                @*<input asp-for="StartDate" value="@DateTime.Now" hidden />*@
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" value="@user.FirstName" readonly />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" value="@user.LastName" readonly />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="States" class="control-label"></label>

                        <select asp-for="States" class="form-control" id="firstList" onchange="getStateItem()">
                            <option>--Select--</option>
                            <option value="Abia">Abia</option>
                            <option value="Adamawa">Adamawa</option>
                            <option value="Anambra">Anambra</option>
                            <option>Akwa Ibom</option>
                            <option>Bauchi</option>
                            <option>Bayelsa</option>
                            <option>Benue</option>
                            <option>Borno</option>
                            <option>Cross River</option>
                            <option>Delta</option>
                            <option>Ebonyi</option>
                            <option>Enugu</option>
                            <option>Edo</option>
                            <option>Ekiti</option>
                            <option>FCT - Abuja</option>
                            <option>Gombe</option>
                            <option>Imo</option>
                            <option>Jigawa</option>
                            <option>Kaduna</option>
                            <option>Kano</option>
                            <option>Katsina</option>
                            <option>Kebbi</option>
                            <option>Kogi</option>
                            <option>Kwara</option>
                            <option>Lagos</option>
                            <option>Nasarawa</option>
                            <option>Niger</option>
                            <option>Ogun</option>
                            <option>Ondo</option>
                            <option>Osun</option>
                            <option>Oyo</option>
                            <option>Plateau</option>
                            <option>Rivers</option>
                            <option>Sokoto</option>
                            <option>Taraba</option>
                            <option>Yobe</option>
                            <option>Zamfara</option>
                        </select>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Lgas" class="control-label"></label>
                        <select asp-for="Lgas" class="form-control" id="secondList">
                            <option>--Select--</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="DateOfEmployment"></label>
                        <input asp-for="DateOfEmployment" class="form-control" />
                        <span asp-validation-for="DateOfEmployment" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="DOB"></label>
                        <input asp-for="DOB" class="form-control" />
                        <span asp-validation-for="DOB" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Address"></label>
                                <textarea cols="30" rows="2" class="form-control" asp-for="Address" placeholder="Enter Address"></textarea>
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="form-group">
                                <label asp-for="Sex"></label>
                                <select asp-for="Sex" class="form-control" asp-items="Html.GetEnumSelectList<Sex>()"></select>
                                <span asp-validation-for="Sex" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="form-group">
                                <label asp-for="BloodGroup" class="control-label"></label>
                                <select asp-for="BloodGroup" class="form-control">
                                    <option>--Select--</option>
                                    <option value="O+">O+</option>
                                    <option value="O-">O-</option>
                                    <option value="A+">A+</option>
                                    <option value="A-">A-</option>
                                    <option value="B+">B+</option>
                                    <option value="B-">B-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                </select>
                                <span asp-validation-for="BloodGroup" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="form-group">
                                <label asp-for="MaritalStatus" class="control-label"></label>
                                <select asp-for="MaritalStatus" class="form-control">
                                    <option>--Select--</option>
                                    <option value="Single">Single</option>
                                    <option value="Married">Married</option>
                                    <option value="Divorced">Divorced</option>
                                </select>
                                <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="form-group">
                                <label asp-for="ModeOfEmployment" class="control-label"></label>
                                <select asp-for="ModeOfEmployment" class="form-control">
                                    <option>--Select--</option>
                                    <option value="FullTime">FullTime</option>
                                    <option value="PartTime">PartTime</option>
                                    <option value="Contract">Contract</option>
                                </select>
                                <span asp-validation-for="ModeOfEmployment" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="EmployeeNo"></label>
                        <input asp-for="EmployeeNo" class="form-control" />
                        <span asp-validation-for="EmployeeNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Designation"></label>
                        <input asp-for="Designation" class="form-control" />
                        <span asp-validation-for="Designation" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-2">
                    <h4 class="page-title text-info">Qualifications</h4>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Academic" class="control-label"></label>
                        <select asp-for="Academic" class="form-control">
                            <option>--Select--</option>
                            <option>Senior School Certificate Examination</option>
                            <option>National Diploma</option>
                            <option>Higher National Diploma</option>
                            <option>Bachelor's Degree</option>
                            <option>Postgraduate Diploma</option>
                            <option>Master's Degree</option>
                            <option>Master of Philosophy</option>
                            <option>Doctor of Philosophy</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Institution" class="control-label"></label>

                        <select asp-for="Institution" class="form-control">
                            <option>--Select--</option>
                            <option> Abia State University, Uturu</option>
                            <option> Abubakar Tafawa Balewa University, Bauchi</option>
                            <option> Achievers University, Owo</option>
                            <option> Adamawa State University, Mubi</option>
                            <option> Adekunle Ajasin University, Akungba Akoko</option>
                            <option> Adeleke University, Ede</option>
                            <option> Admiralty University of Nigeria, Ibusa</option>
                            <option> Afe Babalola University, Ado-Ekiti</option>
                            <option> African University of Science and Technology, Abuja</option>
                            <option>Ahmadu Bello University, Zaria</option>
                            <option> Ajayi Crowther University, Oyo Town</option>
                            <option> Akwa Ibom State University, Ikot Akpad</option>
                            <option> Alex Ekwueme Federal University, Ndufu-Alike</option>
                            <option> Al-Hikmah University, Ilorin</option>
                            <option> Al-Qalam University, Katsina</option>
                            <option> Ambrose Alli University, Ekpoma</option>
                            <option> American University of Nigeria, Yola</option>
                            <option> Anchor University, Ayobo-Ipaja Lagos</option>
                            <option> Arthur Jarvis University, Calabar</option>
                            <option> Atiba University, Oyo Town</option>
                            <option> Augustine University, Ilara</option>
                            <option> Babcock University, Ilishan-Remo</option>
                            <option> Bauchi State University, Gadau</option>
                            <option> Bayero University, Kano</option>
                            <option> Baze University, Abuja</option>
                            <option> Bells University of Technology, Ota</option>
                            <option> Benson Idahosa University, Benin City</option>
                            <option> Benue State University, Makurdi</option>
                            <option> Bingham University, Auta Balifi</option>
                            <option> Borno State University, Maiduguri</option>
                            <option> Bowen University, Iwo</option>
                            <option> Caleb University, Imota</option>
                            <option> Caritas University, Enugu</option>
                            <option> Chrisland University, Abeokuta</option>
                            <option> Christopher University, Mowe</option>
                            <option> Chukwuemeka Odumegwu Ojukwu University, Uli</option>
                            <option> Clifford University, Ihie</option>
                            <option> Coal City University, Enugu</option>
                            <option>Covenant University, Ota</option>
                            <option> Crawford University, Faith City</option>
                            <option> Crescent University, Abeokuta</option>
                            <option> Cross River University of Technology, Calabar</option>
                            <option> Crown Hill University, Ilorin</option>
                            <option> Delta State University, Abraka</option>
                            <option> Dominican University, Ibadan</option>
                            <option> Eastern Palm University, Ogboko</option>
                            <option> Ebonyi State University, Abakaliki</option>
                            <option> Edo University, Iyamho</option>
                            <option> Edwin Clark University, Kiagbodo</option>
                            <option> Ekiti State University, Ado Ekiti</option>
                            <option> Eko University of Medical and Health Sciences, Ijanikin</option>
                            <option> Elizade University, Ilara-Mokin</option>
                            <option> Enugu State University of Science and Technology, Enugu</option>
                            <option> Evangel University, Akaeze Enugu</option>
                            <option> Federal University of Agriculture, Abeokuta </option>
                            <option> Federal University of Petroleum Resources, Effurun</option>
                            <option>Federal University of Technology, Akure</option>
                            <option> Federal University of Technology, Minna</option>
                            <option> Federal University of Technology, Owerri</option>
                            <option> Federal University, Birnin Kebbi</option>
                            <option> Federal University, Dutse Dutse</option>
                            <option> Federal University, Dutsin-Ma</option>
                            <option> Federal University, Gashua </option>
                            <option> Federal University, Gusau </option>
                            <option> Federal University, Kashere</option>
                            <option> Federal University, Lafia</option>
                            <option> Federal University, Lokoja</option>
                            <option> Federal University, Otuoke</option>
                            <option> Federal University, Oye-Ekiti</option>
                            <option> Federal University, Wukari</option>
                            <option> Fountain University, Oshogbo</option>
                            <option> Godfrey Okoye University, Ugwuomu-Nike</option>
                            <option> Gombe State University, Gombe</option>
                            <option> Gombe State University of Science and Technology, Kumo</option>
                            <option> Gregory University, Uturu</option>
                            <option> Hallmark University, Ijebu-Itele</option>
                            <option> Hezekiah University, Umudi</option>
                            <option> Ibrahim Badamasi Babangida University, Lapai</option>
                            <option> Igbinedion University, Okada</option>
                            <option> Ignatius Ajuru University of Education, Port Harcourt</option>
                            <option> Imo State University, Owerri</option>
                            <option> Joseph Ayo Babalola University, Ikeji-Arakeji</option>
                            <option> Kaduna State University, Kaduna</option>
                            <option> Kano University of Science and Technology, Wudil</option>
                            <option> Kebbi State University of Science and Technology, Aliero</option>
                            <option> Kings University, Odeomu</option>
                            <option> Kogi State University, Anyigba</option>
                            <option> Kola Daisi University, Ibadan</option>
                            <option> Kwara State University, Ilorin</option>
                            <option> Kwararafa University, Wukari</option>
                            <option> Ladoke Akintola University of Technology, Ogbomoso</option>
                            <option> Lagos State University, Ojo</option>
                            <option> Landmark University, Omu-Aran</option>
                            <option> Lead City University, Ibadan</option>
                            <option> Legacy University, Okija</option>
                            <option> Madonna University, Okija</option>
                            <option> Mcpherson University, Seriki-Sotayo</option>
                            <option> Michael and Cecilia Ibru University, Agbara-Otor</option>
                            <option> Michael Okpara University of Agriculture, Umuahia</option>
                            <option> Modibbo Adama University of Technology, Yola</option>
                            <option> Moshood Abiola University of Science and Technology, Abeokuta</option>
                            <option> Mountain Top University, Makogi Oba</option>
                            <option> Nasarawa State University, Keffi</option>
                            <option> Niger Delta University, Wilberforce Island</option>
                            <option> Nigerian Maritime University, Okerenkoko Okerenghigho</option>
                            <option> Nile University of Nigeria, Abuja</option>
                            <option> Nnamdi Azikiwe University, Awka</option>
                            <option> Novena University, Ogume</option>
                            <option>Obafemi Awolowo University, Ile-Ife</option>
                            <option> Obong University, Obong Ntak</option>
                            <option> Oduduwa University, Ile Ife</option>
                            <option> Olabisi Onabanjo University, Ago Iwoye</option>
                            <option> Ondo State University of Science and Technology, Okitipupa</option>
                            <option> Osun State University, Oshogbo</option>
                            <option> PAMO University of Medical Sciences, Port-Harcourt</option>
                            <option> Pan-Atlantic University, Lagos</option>
                            <option> Paul University, Awka</option>
                            <option> Plateau State University, Bokkos</option>
                            <option> Precious Cornerstone University, Ibadan</option>
                            <option> Redeemer's University, Ede</option>
                            <option> Renaissance University, Enugu</option>
                            <option> Rhema University, Aba</option>
                            <option> Ritman University, Ikot Ekpene</option>
                            <option> Rivers State University, Port Harcourt</option>
                            <option> Salem University, Lokoja</option>
                            <option> Samuel Adegboyega University, Ogwa</option>
                            <option> Skyline University Nigeria, Kano</option>
                            <option> Sokoto State University, Sokoto</option>
                            <option> Southwestern University, Nigeria Okun Owa</option>
                            <option> Spiritan University, Nneochi Umunneochi</option>
                            <option> Sule Lamido University, Kafin Hausa</option>
                            <option> Summit University Offa, Offa</option>
                            <option> Tai Solarin University of Education, Ijebu-Ode</option>
                            <option> Tansian University, Umunya</option>
                            <option> Taraba State University, Jalingo</option>
                            <option> The Technical University, Ibadan</option>
                            <option> Umaru Musa Yar'Adua University, Katsina</option>
                            <option>University of Abuja, Abuja</option>
                            <option> University of Africa, Toru-Orua </option>
                            <option> University of Agriculture, Makurdi</option>
                            <option> University of Benin, Benin City</option>
                            <option> University of Calabar, Calabar</option>
                            <option>University of Ibadan, Ibadan</option>
                            <option>University of Ilorin, Ilorin</option>
                            <option> University of Jos, Jos</option>
                            <option>University of Lagos, Lagos </option>
                            <option> University of Maiduguri, Maiduguri</option>
                            <option> University of Medical Sciences, Ondo City</option>
                            <option> University of Mkar, Mkar</option>
                            <option>University of Nigeria, Nsukka </option>
                            <option> University of Port Harcourt, Port Harcourt</option>
                            <option> University of Uyo, Uyo</option>
                            <option> Usmanu Danfodio University, Sokoto</option>
                            <option> Veritas University, Abuja</option>
                            <option> Wellspring University, Benin City</option>
                            <option> Wesley University of Science and Technology, Ondo City</option>
                            <option> Western Delta University, Oghara</option>
                            <option> Yobe State University, Damaturu</option>
                            <option> Yusuf Maitama Sule University, Kano Kano</option>
                            <option> Zamfara State University, Talata Mafara</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Professional" class="control-label"></label>
                        <input asp-for="Professional" class="form-control" />
                        <span asp-validation-for="Professional" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label asp-for="Duration" class="control-label"></label>
                    <input asp-for="Duration" class="form-control" min="0" />
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="YearsOfExperience" class="control-label"></label>
                        <input asp-for="YearsOfExperience" class="form-control" />
                        <span asp-validation-for="YearsOfExperience" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Cert</label>
                        <div class="profile-upload">
                            <div class="upload-img">
                                @*<img src="~/Preclinic-Hospital-Bootstrap4-Admin/assets/img/Rimg.png" />*@
                                <img alt="" src="~/Preclinic-Hospital-Bootstrap4-Admin/assets/img/Rimg.png">
                            </div>
                            <div class="upload-input">
                                <input type="file" asp-for="Image" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-2">
                    <h4 class="page-title text-info">Informations</h4>
                </div>


                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="BeneficiaryName"></label>
                        <input asp-for="BeneficiaryName" class="form-control" />
                        <span asp-validation-for="BeneficiaryName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="BeneficiaryNo"></label>
                        <input asp-for="BeneficiaryNo" class="form-control" />
                        <span asp-validation-for="BeneficiaryNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label asp-for="BeneficiaryAddress"></label>
                        <textarea cols="30" rows="2" class="form-control" asp-for="BeneficiaryAddress" placeholder="Enter Address"></textarea>
                        <span asp-validation-for="BeneficiaryAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="EmergencyName"></label>
                        <input asp-for="EmergencyName" class="form-control" />
                        <span asp-validation-for="EmergencyName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="EmergencyNo"></label>
                        <input asp-for="EmergencyNo" class="form-control" />
                        <span asp-validation-for="EmergencyNo" class="text-danger"></span>
                    </div>
                </div>

            </div>
           
            <div class="m-t-20 text-center">
                <button class="btn btn-primary submit-btn">Submit</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    function getStateItem() {
        var list1 = document.getElementById('firstList');
        var list2 = document.getElementById("secondList");

        var list1SelectedValue = list1.options[list1.selectedIndex].value;
        console.log(list1SelectedValue);
        if (list1SelectedValue == "Abia") {
            list2.options.length = 0;
            list2.options[1] = new Option("Aba North");
            list2.options[2] = new Option('Aba South');
            list2.options[3] = new Option('Arochukwu');
            list2.options[4] = new Option('Bende');
            list2.options[5] = new Option('Ikwuano');
            list2.options[6] = new Option('Isiala-Ngwa North');
            list2.options[7] = new Option('Isiala-Ngwa South');
            list2.options[8] = new Option('Isuikwato');
            list2.options[9] = new Option('Obi Nwa');
            list2.options[10] = new Option('Ohafia');
            list2.options[11] = new Option('Osisioma');
            list2.options[12] = new Option('Ngwa');
            list2.options[13] = new Option('Ugwunagbo');
            list2.options[14] = new Option('Ukwa East');
            list2.options[15] = new Option('Ukwa West');
            list2.options[16] = new Option('Umuahia North');
            list2.options[17] = new Option('Umuahia South');
            list2.options[18] = new Option('Umu-Neochi');
        } else if (list1SelectedValue == "Adamawa") {
            list2.options.length = 0;
            list2.options[1] = new Option("Demsa");
            list2.options[2] = new Option("Fufore");
            list2.options[3] = new Option("Ganaye");
            list2.options[4] = new Option("Gireri");
            list2.options[5] = new Option("Gombi");
            list2.options[6] = new Option("Guyuk");
            list2.options[7] = new Option("Hong");
            list2.options[8] = new Option("Jada");
            list2.options[9] = new Option("Lamurde");
            list2.options[10] = new Option("Madagali");
            list2.options[11] = new Option("Maiha");
            list2.options[12] = new Option("Mayo-Belwa");
            list2.options[13] = new Option("Michika");
            list2.options[14] = new Option("Mubi North");
            list2.options[15] = new Option("Mubi South");
            list2.options[16] = new Option("Numan");
            list2.options[17] = new Option("Shelleng");
            list2.options[18] = new Option("Song");
            list2.options[19] = new Option("Toungo");
            list2.options[20] = new Option("Yola North");
            list2.options[21] = new Option("Yola South");
        } else if (list1SelectedValue == "Anambra") {
            list2.options.length = 0;
            list2.options[1] = new Option("Aguata");
            list2.options[2] = new Option("Anambra East");
            list2.options[3] = new Option("Anambra West");
            list2.options[4] = new Option("Anaocha");
            list2.options[5] = new Option("Awka North");
            list2.options[6] = new Option("Awka South");
            list2.options[7] = new Option("Ayamelum");
            list2.options[8] = new Option("Dunukofia");
            list2.options[9] = new Option("Ekwusigo");
            list2.options[10] = new Option("Idemili North");
            list2.options[11] = new Option("Idemili south");
            list2.options[12] = new Option("Ihiala");
            list2.options[13] = new Option("Njikoka");
            list2.options[14] = new Option("Nnewi North");
            list2.options[15] = new Option("Nnewi South");
            list2.options[16] = new Option("Ogbaru");
            list2.options[17] = new Option("Onitsha North");
            list2.options[18] = new Option("Onitsha South");
            list2.options[19] = new Option("Orumba North");
            list2.options[20] = new Option("Orumba South");
            list2.options[21] = new Option("Oyi");
        } else if (list1SelectedValue == "Akwa Ibom") {
            list2.options.length = 0;
            list2.options[1] = new Option("Abak");
            list2.options[2] = new Option("Eastern Obolo");
            list2.options[3] = new Option("Eket");
            list2.options[4] = new Option("Esit Eket");
            list2.options[5] = new Option("Essien Udim");
            list2.options[6] = new Option("Etim Ekpo");
            list2.options[7] = new Option("Etinan");
            list2.options[8] = new Option("Ibeno");
            list2.options[9] = new Option("Ibesikpo Asutan");
            list2.options[10] = new Option("Ibiono Ibom");
            list2.options[11] = new Option("Ika");
            list2.options[12] = new Option("Ikono");
            list2.options[13] = new Option("Ikot Abasi");
            list2.options[14] = new Option("Ikot Ekpene");
            list2.options[15] = new Option("Ini");
            list2.options[16] = new Option("Itu");
            list2.options[17] = new Option("Mbo");
            list2.options[18] = new Option("Mkpat Enin");
            list2.options[19] = new Option("Nsit Atai");
            list2.options[20] = new Option("Nsit Ibom");
            list2.options[21] = new Option("Nsit Ubium");
            list2.options[22] = new Option("Obot Akara");
            list2.options[23] = new Option("Okobo");
            list2.options[24] = new Option("Onna");
            list2.options[25] = new Option("Oron");
            list2.options[26] = new Option("Oruk Anam");
            list2.options[27] = new Option("Udung Uko");
            list2.options[28] = new Option("Ukanafun");
            list2.options[29] = new Option("Uruan");
            list2.options[30] = new Option("Urue-Offong/Oruko ");
            list2.options[31] = new Option("Uyo");
        } else if (list1SelectedValue == "Bauchi") {
            list2.options.length = 0;
            list2.options[1] = new Option("Alkaleri");
            list2.options[2] = new Option("Bauchi");
            list2.options[3] = new Option("Bogoro");
            list2.options[4] = new Option("Damban");
            list2.options[5] = new Option("Darazo");
            list2.options[6] = new Option("Dass");
            list2.options[7] = new Option("Ganjuwa");
            list2.options[8] = new Option("Giade");
            list2.options[9] = new Option("Itas/Gadau");
            list2.options[10] = new Option("Jama'are");
            list2.options[11] = new Option("Katagum");
            list2.options[12] = new Option("Kirfi");
            list2.options[13] = new Option("Misau");
            list2.options[14] = new Option("Ningi");
            list2.options[15] = new Option("Shira");
            list2.options[16] = new Option("Tafawa-Balewa");
            list2.options[17] = new Option("Toro");
            list2.options[18] = new Option("Warji");
            list2.options[19] = new Option("Zaki");
        } else if (list1SelectedValue == "Bayelsa") {
            list2.options.length = 0;
            list2.options[1] = new Option("Brass");
            list2.options[2] = new Option("Ekeremor");
            list2.options[3] = new Option("Kolokuma/Opokuma");
            list2.options[4] = new Option("Nembe");
            list2.options[5] = new Option("Ogbia");
            list2.options[6] = new Option("Sagbama");
            list2.options[7] = new Option("Southern Jaw");
            list2.options[8] = new Option("Yenegoa");
        } else if (list1SelectedValue == "Benue") {
            list2.options.length = 0;
            list2.options[1] = new Option("Ado");
            list2.options[2] = new Option("Agatu");
            list2.options[3] = new Option("Apa");
            list2.options[4] = new Option("Buruku");
            list2.options[5] = new Option("Gboko");
            list2.options[6] = new Option("Guma");
            list2.options[7] = new Option("Gwer East");
            list2.options[8] = new Option("Gwer West");
            list2.options[9] = new Option("Katsina-Ala");
            list2.options[10] = new Option("Konshisha");
            list2.options[11] = new Option("Kwande");
            list2.options[12] = new Option("Logo");
            list2.options[13] = new Option("Makurdi");
            list2.options[14] = new Option("Obi");
            list2.options[15] = new Option("Ogbadibo");
            list2.options[16] = new Option("Oju");
            list2.options[17] = new Option("Okpokwu");
            list2.options[18] = new Option("Ohimini");
            list2.options[19] = new Option("Oturkpo");
            list2.options[20] = new Option("Tarka");
            list2.options[21] = new Option("Ukum");
            list2.options[22] = new Option("Ushongo");
            list2.options[23] = new Option("Vandeikya");
        } else if (list1SelectedValue == "Borno") {
            list2.options.length = 0;
            list2.options[1] = new Option("Abadam");
            list2.options[2] = new Option("Askira/Uba");
            list2.options[3] = new Option("Bama");
            list2.options[4] = new Option("Bayo");
            list2.options[5] = new Option("Biu");
            list2.options[6] = new Option("Chibok");
            list2.options[7] = new Option("Damboa");
            list2.options[8] = new Option("Dikwa");
            list2.options[9] = new Option("Gubio");
            list2.options[10] = new Option("Guzamala");
            list2.options[11] = new Option("Gwoza");
            list2.options[12] = new Option("Hawul");
            list2.options[13] = new Option("Jere");
            list2.options[14] = new Option("Kaga");
            list2.options[15] = new Option("Kala/Balge");
            list2.options[16] = new Option("Konduga");
            list2.options[17] = new Option("Kukawa");
            list2.options[18] = new Option("Kwaya Kusar");
            list2.options[19] = new Option("Mafa");
            list2.options[20] = new Option("Magumeri");
            list2.options[21] = new Option("Maiduguri");
            list2.options[22] = new Option("Marte");
            list2.options[23] = new Option("Mobbar");
            list2.options[24] = new Option("Monguno");
            list2.options[25] = new Option("Ngala");
            list2.options[26] = new Option("Nganzai");
            list2.options[27] = new Option("Shani");
        } else if (list1SelectedValue == "Cross River") {
            list2.options.length = 0;
            list2.options[1] = new Option("Akpabuyo");
            list2.options[2] = new Option("Odukpani");
            list2.options[3] = new Option("Akamkpa");
            list2.options[4] = new Option("Biase");
            list2.options[5] = new Option("Abi");
            list2.options[6] = new Option("Ikom");
            list2.options[7] = new Option("Yarkur");
            list2.options[8] = new Option("Odubra");
            list2.options[9] = new Option("Boki");
            list2.options[10] = new Option("Ogoja");
            list2.options[11] = new Option("Yala");
            list2.options[12] = new Option("Obanliku");
            list2.options[13] = new Option("Obudu");
            list2.options[14] = new Option("Calabar South");
            list2.options[15] = new Option("Etung");
            list2.options[16] = new Option("Bekwara");
            list2.options[17] = new Option("Bakassi");
            list2.options[18] = new Option("Calabar Municipality");
        } else if (list1SelectedValue == "Delta") {
            list2.options.length = 0;
            list2.options[1] = new Option("Oshimili");
            list2.options[2] = new Option("Aniocha");
            list2.options[3] = new Option("Aniocha South");
            list2.options[4] = new Option("Ika South");
            list2.options[5] = new Option("Ika North-East");
            list2.options[6] = new Option("Ndokwa West");
            list2.options[7] = new Option("Ndokwa East");
            list2.options[8] = new Option("Isoko south");
            list2.options[9] = new Option("Isoko North");
            list2.options[10] = new Option("Bomadi");
            list2.options[11] = new Option("Burutu");
            list2.options[12] = new Option("Ughelli South");
            list2.options[13] = new Option("Ughelli North");
            list2.options[14] = new Option("Ethiope West");
            list2.options[15] = new Option("Ethiope East");
            list2.options[16] = new Option("Sapele");
            list2.options[17] = new Option("Okpe");
            list2.options[18] = new Option("Warri North");
            list2.options[19] = new Option("Warri South");
            list2.options[20] = new Option("Uvwie");
            list2.options[21] = new Option("Udu");
            list2.options[22] = new Option("Warri Central");
            list2.options[23] = new Option("Ukwani");
            list2.options[24] = new Option("Oshimili North");
            list2.options[25] = new Option("Patani");
        } else if (list1SelectedValue == "Ebonyi") {
            list2.options.length = 0;
            list2.options[1] = new Option("Afikpo South");
            list2.options[2] = new Option("Afikpo North");
            list2.options[3] = new Option("Onicha");
            list2.options[4] = new Option("Ohaozara");
            list2.options[5] = new Option("Abakaliki");
            list2.options[6] = new Option("Ishielu");
            list2.options[7] = new Option("lkwo");
            list2.options[8] = new Option("Ezza");
            list2.options[9] = new Option("Ezza South");
            list2.options[10] = new Option("Ohaukwu");
            list2.options[11] = new Option("Ebonyi");
            list2.options[12] = new Option("Ivo");
        } else if (list1SelectedValue == "Enugu") {
            list2.options.length = 0;
            list2.options[1] = new Option("Enugu South");
            list2.options[2] = new Option("Igbo-Eze South");
            list2.options[3] = new Option("Enugu North");
            list2.options[4] = new Option("Nkanu");
            list2.options[5] = new Option("Udi Agwu");
            list2.options[6] = new Option("Oji-River");
            list2.options[7] = new Option("Ezeagu");
            list2.options[8] = new Option("IgboEze North");
            list2.options[9] = new Option("Isi-Uzo");
            list2.options[10] = new Option("Nsukka");
            list2.options[11] = new Option("Igbo-Ekiti");
            list2.options[12] = new Option("Uzo-Uwani");
            list2.options[13] = new Option("Enugu Eas");
            list2.options[14] = new Option("Aninri");
            list2.options[15] = new Option("Nkanu East");
            list2.options[16] = new Option("Udenu");
        } else if (list1SelectedValue == "Edo") {
            list2.options.length = 0;
            list2.options[1] = new Option("Esan North-East");
            list2.options[2] = new Option("Esan Central");
            list2.options[3] = new Option("Esan West");
            list2.options[4] = new Option("Egor");
            list2.options[5] = new Option("Ukpoba");
            list2.options[6] = new Option("Central");
            list2.options[7] = new Option("Etsako Central");
            list2.options[8] = new Option("Igueben");
            list2.options[9] = new Option("Oredo");
            list2.options[10] = new Option("Ovia SouthWest");
            list2.options[11] = new Option("Ovia South-East");
            list2.options[12] = new Option("Orhionwon");
            list2.options[13] = new Option("Uhunmwonde");
            list2.options[14] = new Option("Etsako East");
            list2.options[15] = new Option("Esan South-East");
        } else if (list1SelectedValue == "Ekiti") {
            list2.options.length = 0;
            list2.options[1] = new Option("Ado");
            list2.options[2] = new Option("Ekiti-East");
            list2.options[3] = new Option("Ekiti-West");
            list2.options[4] = new Option("Emure/Ise/Orun");
            list2.options[5] = new Option("Ekiti South-West");
            list2.options[6] = new Option("Ikare");
            list2.options[7] = new Option("Irepodun");
            list2.options[8] = new Option("Ijero,");
            list2.options[9] = new Option("Ido/Osi");
            list2.options[10] = new Option("Oye");
            list2.options[11] = new Option("Ikole");
            list2.options[12] = new Option("Moba");
            list2.options[13] = new Option("Gbonyin");
            list2.options[14] = new Option("Efon");
            list2.options[15] = new Option("Ise/Orun");
            list2.options[16] = new Option("Ilejemeje");
        } else if (list1SelectedValue == "FCT - Abuja") {
            list2.options.length = 0;
            list2.options[1] = new Option("Abaji");
            list2.options[2] = new Option("Abuja Municipal");
            list2.options[3] = new Option("Bwari");
            list2.options[4] = new Option("Gwagwalada");
            list2.options[5] = new Option("Kuje");
            list2.options[6] = new Option("Kwali");
        } else if (list1SelectedValue == "Gombe") {
            list2.options.length = 0;
            list2.options[1] = new Option("Akko");
            list2.options[2] = new Option("Balanga");
            list2.options[3] = new Option("Billiri");
            list2.options[4] = new Option("Dukku");
            list2.options[5] = new Option("Kaltungo");
            list2.options[6] = new Option("Kwami");
            list2.options[7] = new Option("Shomgom");
            list2.options[8] = new Option("Funakaye");
            list2.options[9] = new Option("Gombe");
            list2.options[10] = new Option("Nafada/Bajoga");
            list2.options[11] = new Option("Yamaltu/Delta.");
        } else if (list1SelectedValue == "Imo") {
            list2.options.length = 0;
            list2.options[1] = new Option("Aboh-Mbaise");
            list2.options[2] = new Option("Ahiazu-Mbaise");
            list2.options[3] = new Option("Ehime-Mbano");
            list2.options[4] = new Option("Ezinihitte");
            list2.options[5] = new Option("Ideato North");
            list2.options[6] = new Option("Ideato South");
            list2.options[7] = new Option("Ihitte/Uboma");
            list2.options[8] = new Option("Ikeduru");
            list2.options[9] = new Option("Isiala Mbano");
            list2.options[10] = new Option("Isu");
            list2.options[11] = new Option("Mbaitoli");
            list2.options[12] = new Option("Mbaitoli");
            list2.options[13] = new Option("Ngor-Okpala");
            list2.options[14] = new Option("Njaba");
            list2.options[15] = new Option("Nwangele");
            list2.options[16] = new Option("Nkwerre");
            list2.options[17] = new Option("Obowo");
            list2.options[18] = new Option("Oguta");
            list2.options[19] = new Option("Ohaji/Egbema");
            list2.options[20] = new Option("Okigwe");
            list2.options[21] = new Option("Orlu");
            list2.options[22] = new Option("Orsu");
            list2.options[23] = new Option("Oru East");
            list2.options[24] = new Option("Oru West");
            list2.options[25] = new Option("Owerri-Municipal");
            list2.options[26] = new Option("Owerri North");
            list2.options[27] = new Option("Owerri West");
        } else if (list1SelectedValue == "Jigawa") {
            list2.options.length = 0;
            list2.options[1] = new Option("Auyo");
            list2.options[2] = new Option("Babura");
            list2.options[3] = new Option("Birni Kudu");
            list2.options[4] = new Option("Biriniwa");
            list2.options[5] = new Option("Buji");
            list2.options[6] = new Option("Dutse");
            list2.options[7] = new Option("Gagarawa");
            list2.options[8] = new Option("Garki");
            list2.options[9] = new Option("Gumel");
            list2.options[10] = new Option("Guri");
            list2.options[11] = new Option("Gwaram");
            list2.options[12] = new Option("Gwiwa");
            list2.options[13] = new Option("Hadejia");
            list2.options[14] = new Option("Jahun");
            list2.options[15] = new Option("Kafin Hausa");
            list2.options[16] = new Option("Kaugama Kazaure");
            list2.options[17] = new Option("Kiri Kasamma");
            list2.options[18] = new Option("Kiyawa");
            list2.options[19] = new Option("Maigatari");
            list2.options[20] = new Option("Malam Madori");
            list2.options[21] = new Option("Miga");
            list2.options[22] = new Option("Ringim");
            list2.options[23] = new Option("Roni");
            list2.options[24] = new Option("Sule-Tankarkar");
            list2.options[25] = new Option("Taura");
            list2.options[26] = new Option("Yankwashi");
        } else if (list1SelectedValue == "Kaduna") {
            list2.options.length = 0;
            list2.options[1] = new Option("Birni-Gwari");
            list2.options[2] = new Option("Chikun");
            list2.options[3] = new Option("Giwa");
            list2.options[4] = new Option("Igabi");
            list2.options[5] = new Option("Ikara");
            list2.options[6] = new Option("jaba");
            list2.options[7] = new Option("Jema'a");
            list2.options[8] = new Option("Kachia");
            list2.options[9] = new Option("Kaduna North");
            list2.options[10] = new Option("Kaduna South");
            list2.options[11] = new Option("Kagarko");
            list2.options[12] = new Option("Kajuru");
            list2.options[13] = new Option("Kaura");
            list2.options[14] = new Option("Kauru");
            list2.options[15] = new Option("Kubau");
            list2.options[16] = new Option("Kudan");
            list2.options[17] = new Option("Lere");
            list2.options[18] = new Option("Makarfi");
            list2.options[19] = new Option("Sabon-Gari");
            list2.options[20] = new Option("Sanga");
            list2.options[21] = new Option("Soba");
            list2.options[22] = new Option("Zango-Kataf");
            list2.options[23] = new Option("Zaria");
        } else if (list1SelectedValue == "Kano") {
            list2.options.length = 0;
            list2.options[1] = new Option("Ajingi");
            list2.options[2] = new Option("Albasu");
            list2.options[3] = new Option("Bagwai");
            list2.options[4] = new Option("Bebeji");
            list2.options[5] = new Option("Bichi");
            list2.options[6] = new Option("Bunkure");
            list2.options[7] = new Option("Dala");
            list2.options[8] = new Option("Dambatta");
            list2.options[9] = new Option("Dawakin Kudu");
            list2.options[10] = new Option("Dawakin Tofa");
            list2.options[11] = new Option("Doguwa");
            list2.options[12] = new Option("Fagge");
            list2.options[13] = new Option("Gabasawa");
            list2.options[14] = new Option("Garko");
            list2.options[15] = new Option("Garum");
            list2.options[16] = new Option("Mallam");
            list2.options[17] = new Option("Gaya");
            list2.options[18] = new Option("Gezawa");
            list2.options[19] = new Option("Gwale");
            list2.options[20] = new Option("Gwarzo");
            list2.options[21] = new Option("Kabo");
            list2.options[22] = new Option("Kano Municipal");
            list2.options[23] = new Option("Karaye");
            list2.options[24] = new Option("Kibiya");
            list2.options[25] = new Option("Kiru");
            list2.options[26] = new Option("kumbotso");
            list2.options[27] = new Option("Kunchi");
            list2.options[28] = new Option("Kura");
            list2.options[29] = new Option("Madobi");
            list2.options[30] = new Option("Makoda");
            list2.options[31] = new Option("Minjibir");
            list2.options[32] = new Option("Nasarawa");
            list2.options[33] = new Option("Rano");
            list2.options[34] = new Option("Rimin Gado");
            list2.options[35] = new Option("Rogo");
            list2.options[36] = new Option("Shanono");
            list2.options[37] = new Option("Sumaila");
            list2.options[38] = new Option("Takali");
            list2.options[39] = new Option("Tarauni");
            list2.options[40] = new Option("Tofa");
            list2.options[41] = new Option("Tsanyawa");
            list2.options[42] = new Option("Tudun Wada");
            list2.options[43] = new Option("Ungogo");
            list2.options[44] = new Option("Warawa");
            list2.options[45] = new Option("Wudil");
        } else if (list1SelectedValue == "Katsina") {
            list2.options.length = 0;
            list2.options[1] = new Option("Bakori");
            list2.options[2] = new Option("Batagarawa");
            list2.options[3] = new Option("Batsari");
            list2.options[4] = new Option("Baure");
            list2.options[5] = new Option("Bindawa");
            list2.options[6] = new Option("Charanchi");
            list2.options[7] = new Option("Dandume");
            list2.options[8] = new Option("Danja");
            list2.options[9] = new Option("Dan Musa");
            list2.options[10] = new Option("Daura");
            list2.options[11] = new Option("Dutsi");
            list2.options[12] = new Option("Dutsin-Ma");
            list2.options[13] = new Option("Faskari");
            list2.options[14] = new Option("Funtua");
            list2.options[15] = new Option("Ingawa");
            list2.options[16] = new Option("Jibia");
            list2.options[17] = new Option("Kafur");
            list2.options[18] = new Option("Kaita");
            list2.options[19] = new Option("Kankara");
            list2.options[20] = new Option("Kankia");
            list2.options[21] = new Option("Katsina");
            list2.options[22] = new Option("Kurfi");
            list2.options[23] = new Option("Kusada");
            list2.options[24] = new Option("Mai'Adua");
            list2.options[25] = new Option("Malumfashi");
            list2.options[26] = new Option("Mani");
            list2.options[27] = new Option("Mashi");
            list2.options[28] = new Option("Matazuu");
            list2.options[29] = new Option("Musawa");
            list2.options[30] = new Option("Rimi");
            list2.options[31] = new Option("Sabuwa");
            list2.options[32] = new Option("Safana");
            list2.options[33] = new Option("Sandamu");
            list2.options[34] = new Option("Zango");
        } else if (list1SelectedValue == "Kebbi") {
            list2.options.length = 0;
            list2.options[1] = new Option("Aleiro");
            list2.options[2] = new Option("Arewa-Dandi");
            list2.options[3] = new Option("Argungu");
            list2.options[4] = new Option("Augie");
            list2.options[5] = new Option("Bagudo");
            list2.options[6] = new Option("Birnin Kebbi");
            list2.options[7] = new Option("Bunza");
            list2.options[8] = new Option("Dandi");
            list2.options[9] = new Option("Fakai");
            list2.options[10] = new Option("Gwandu");
            list2.options[11] = new Option("Jega");
            list2.options[12] = new Option("Kalgo");
            list2.options[13] = new Option("Koko/Besse");
            list2.options[14] = new Option("Maiyama");
            list2.options[15] = new Option("Ngaski");
            list2.options[16] = new Option("Sakaba");
            list2.options[17] = new Option("Shanga");
            list2.options[18] = new Option("Suru");
            list2.options[19] = new Option("Wasagu/Danko");
            list2.options[20] = new Option("Yauri");
            list2.options[21] = new Option("Zuru");
        } else if (list1SelectedValue == "Kogi") {
            list2.options.length = 0;
            list2.options[1] = new Option("Adavi");
            list2.options[2] = new Option("Ajaokuta");
            list2.options[3] = new Option("Ankpa");
            list2.options[4] = new Option("Bassa");
            list2.options[5] = new Option("Dekina");
            list2.options[6] = new Option("Ibaji");
            list2.options[7] = new Option("Idah");
            list2.options[8] = new Option("Igalamela-Odolu");
            list2.options[9] = new Option("Ijumu");
            list2.options[10] = new Option("Kabba/Bunu");
            list2.options[11] = new Option("Kogi");
            list2.options[12] = new Option("Lokoja");
            list2.options[13] = new Option("Mopa-Muro");
            list2.options[14] = new Option("Ofu");
            list2.options[15] = new Option("Ogori/Mangongo");
            list2.options[16] = new Option("Okehi");
            list2.options[17] = new Option("Okene");
            list2.options[18] = new Option("Olamabolo");
            list2.options[19] = new Option("Omala");
            list2.options[20] = new Option("Yagba East");
            list2.options[21] = new Option("Yagba West");
        } else if (list1SelectedValue == "Kwara") {
            list2.options.length = 0;
            list2.options[1] = new Option("Asa");
            list2.options[2] = new Option("Baruten");
            list2.options[3] = new Option("Edu");
            list2.options[4] = new Option("Ekiti");
            list2.options[5] = new Option("Ifelodun");
            list2.options[6] = new Option("Ilorin East");
            list2.options[7] = new Option("Ilorin West");
            list2.options[8] = new Option("Irepodun");
            list2.options[9] = new Option("Isin");
            list2.options[10] = new Option("Kaiama");
            list2.options[11] = new Option("Moro");
            list2.options[12] = new Option("Offa");
            list2.options[13] = new Option("Oke-Ero");
            list2.options[14] = new Option("Oyun");
            list2.options[15] = new Option("Pategi");
        } else if (list1SelectedValue == "Lagos") {
            list2.options.length = 0;
            list2.options[1] = new Option("Agege");
            list2.options[2] = new Option("Ajeromi-Ifelodun");
            list2.options[3] = new Option("Alimosho");
            list2.options[4] = new Option("Amuwo-Odofin");
            list2.options[5] = new Option("Apapa");
            list2.options[6] = new Option("Badagry");
            list2.options[7] = new Option("Epe");
            list2.options[8] = new Option("Eti-Osa");
            list2.options[9] = new Option("Ibeju/Lekki");
            list2.options[10] = new Option("Ifako-Ijaye");
            list2.options[11] = new Option("Ikeja");
            list2.options[12] = new Option("Ikorodu");
            list2.options[13] = new Option("Kosofe");
            list2.options[14] = new Option("Lagos Island");
            list2.options[15] = new Option("Lagos Mainland");
            list2.options[16] = new Option("Mushin");
            list2.options[17] = new Option("Ojo");
            list2.options[18] = new Option("Oshodi-Isolo");
            list2.options[19] = new Option("Shomolu");
            list2.options[20] = new Option("Surulere");
        } else if (list1SelectedValue == "Nasarawa") {
            list2.options.length = 0;
            list2.options[1] = new Option("Akwanga");
            list2.options[2] = new Option("Awe");
            list2.options[3] = new Option("Doma");
            list2.options[4] = new Option("Karu");
            list2.options[5] = new Option("Keana");
            list2.options[6] = new Option("Keffi");
            list2.options[7] = new Option("Kokona");
            list2.options[8] = new Option("Lafia");
            list2.options[9] = new Option("Nasarawa");
            list2.options[10] = new Option("Nasarawa-Eggon");
            list2.options[11] = new Option("Obi");
            list2.options[12] = new Option("Toto");
            list2.options[13] = new Option("Wamba");
        } else if (list1SelectedValue == "Niger") {
            list2.options.length = 0;
            list2.options[1] = new Option("Agaie");
            list2.options[2] = new Option("Agwara");
            list2.options[3] = new Option("Bida");
            list2.options[4] = new Option("Borgu");
            list2.options[5] = new Option("Bosso");
            list2.options[6] = new Option("Chanchaga");
            list2.options[7] = new Option("Edati");
            list2.options[8] = new Option("Gbako");
            list2.options[9] = new Option("Gurara");
            list2.options[10] = new Option("Katcha");
            list2.options[11] = new Option("Kontagora");
            list2.options[12] = new Option("Lapai");
            list2.options[13] = new Option("Lavun");
            list2.options[14] = new Option("Magama");
            list2.options[15] = new Option("Mariga");
            list2.options[16] = new Option("Mashegu");
            list2.options[17] = new Option("Mokwa");
            list2.options[18] = new Option("Muya");
            list2.options[19] = new Option("Pailoro");
            list2.options[20] = new Option("Rafi");
            list2.options[21] = new Option("Rijau");
            list2.options[22] = new Option("Shiroro");
            list2.options[23] = new Option("Suleja");
            list2.options[24] = new Option("Tafa");
            list2.options[25] = new Option("Wushishi");
        } else if (list1SelectedValue == "Ogun") {
            list2.options.length = 0;
            list2.options[1] = new Option("Abeokuta North");
            list2.options[2] = new Option("Abeokuta South");
            list2.options[3] = new Option("Ado-Odo/Ota");
            list2.options[4] = new Option("Egbado North");
            list2.options[5] = new Option("Egbado South");
            list2.options[6] = new Option("Ewekoro");
            list2.options[7] = new Option("Ifo");
            list2.options[8] = new Option("Ijebu East");
            list2.options[9] = new Option("Ijebu North");
            list2.options[10] = new Option("Ijebu North East");
            list2.options[11] = new Option("Ijebu Ode");
            list2.options[12] = new Option("Ikenne");
            list2.options[13] = new Option("Imeko-Afon");
            list2.options[14] = new Option("Ipokia");
            list2.options[15] = new Option("Obafemi-Owode");
            list2.options[16] = new Option("Ogun Waterside");
            list2.options[17] = new Option("Odeda");
            list2.options[18] = new Option("Odogbolu");
            list2.options[19] = new Option("Remo North");
            list2.options[20] = new Option("Shagamu");
        } else if (list1SelectedValue == "Ondo") {
            list2.options.length = 0;
            list2.options[1] = new Option("Akoko North East");
            list2.options[2] = new Option("Akoko North West");
            list2.options[3] = new Option("Akoko South Akure East");
            list2.options[4] = new Option("Akoko South West");
            list2.options[5] = new Option("Akure North");
            list2.options[6] = new Option("Akure South");
            list2.options[7] = new Option("Ese-Odo");
            list2.options[8] = new Option("Idanre");
            list2.options[9] = new Option("Ifedore");
            list2.options[10] = new Option("Ilaje");
            list2.options[11] = new Option("Ile-Oluji");
            list2.options[12] = new Option("Okeigbo");
            list2.options[13] = new Option("Irele");
            list2.options[14] = new Option("Odigbo");
            list2.options[15] = new Option("Okitipupa");
            list2.options[16] = new Option("Ondo East");
            list2.options[17] = new Option("Ondo West");
            list2.options[18] = new Option("Ose");
            list2.options[19] = new Option("Owo");
        } else if (list1SelectedValue == "Osun") {
            list2.options.length = 0;
            list2.options[1] = new Option("Aiyedade");
            list2.options[2] = new Option("Aiyedire");
            list2.options[3] = new Option("Atakumosa East");
            list2.options[4] = new Option("Atakumosa West");
            list2.options[5] = new Option("Boluwaduro");
            list2.options[6] = new Option("Boripe");
            list2.options[7] = new Option("Ede North");
            list2.options[8] = new Option("Ede South");
            list2.options[9] = new Option("Egbedore");
            list2.options[10] = new Option("Ejigbo");
            list2.options[11] = new Option("Ife Central");
            list2.options[12] = new Option("Ife East");
            list2.options[13] = new Option("Ife North");
            list2.options[14] = new Option("Ife South");
            list2.options[15] = new Option("Ifedayo");
            list2.options[16] = new Option("Ifelodun");
            list2.options[17] = new Option("Ila");
            list2.options[18] = new Option("Ilesha East");
            list2.options[19] = new Option("Ilesha West");
            list2.options[20] = new Option("Irepodun");
            list2.options[21] = new Option("Irewole");
            list2.options[22] = new Option("Isokan");
            list2.options[23] = new Option("Iwo");
            list2.options[24] = new Option("Obokun");
            list2.options[25] = new Option("Odo-Otin");
            list2.options[26] = new Option("Ola-Oluwa");
            list2.options[27] = new Option("Olorunda");
            list2.options[28] = new Option("Oriade");
            list2.options[29] = new Option("Orolu");
            list2.options[30] = new Option("Osogbo");
        } else if (list1SelectedValue == "Oyo") {
            list2.options.length = 0;
            list2.options[1] = new Option("Afijio");
            list2.options[2] = new Option("Akinyele");
            list2.options[3] = new Option("Atiba");
            list2.options[4] = new Option("Atigbo");
            list2.options[5] = new Option("Egbeda");
            list2.options[6] = new Option("Ibadan Central");
            list2.options[7] = new Option("Ibadan North");
            list2.options[8] = new Option("Ibadan North West");
            list2.options[9] = new Option("Ibadan South East");
            list2.options[10] = new Option("Ibadan South West");
            list2.options[11] = new Option("Ibarapa Central");
            list2.options[12] = new Option("Ibarapa East");
            list2.options[13] = new Option("Ibarapa North");
            list2.options[14] = new Option("Ido");
            list2.options[15] = new Option("Irepo");
            list2.options[16] = new Option("Iseyin");
            list2.options[17] = new Option("Itesiwaju");
            list2.options[18] = new Option("Iwajowa");
            list2.options[19] = new Option("Kajola");
            list2.options[20] = new Option("Lagelu Ogbomosho North");
            list2.options[21] = new Option("Ogbmosho South");
            list2.options[22] = new Option("Ogo Oluwa");
            list2.options[23] = new Option("Olorunsogo");
            list2.options[24] = new Option("Oluyole");
            list2.options[25] = new Option("Ona-Ara");
            list2.options[26] = new Option("Orelope");
            list2.options[27] = new Option("Ori Ire");
            list2.options[28] = new Option("Oyo East");
            list2.options[29] = new Option("Oyo West");
            list2.options[30] = new Option("Saki East");
            list2.options[31] = new Option("Saki West");
            list2.options[32] = new Option("Surulere");
        } else if (list1SelectedValue == "Plateau") {
            list2.options.length = 0;
            list2.options[1] = new Option("Barikin Ladi");
            list2.options[2] = new Option("Bassa");
            list2.options[3] = new Option("Bokkos");
            list2.options[4] = new Option("Jos East");
            list2.options[5] = new Option("Jos North");
            list2.options[6] = new Option("Jos South");
            list2.options[7] = new Option("Kanam");
            list2.options[8] = new Option("Kanke");
            list2.options[9] = new Option("Langtang North");
            list2.options[10] = new Option("Langtang South");
            list2.options[11] = new Option("Mangu");
            list2.options[12] = new Option("Mikang");
            list2.options[13] = new Option("Pankshin");
            list2.options[14] = new Option("Qua'an Pan");
            list2.options[15] = new Option("Riyom");
            list2.options[16] = new Option("Shendam");
            list2.options[17] = new Option("Wase");
        } else if (list1SelectedValue == "Rivers") {
            list2.options.length = 0;
            list2.options[1] = new Option("Abua/Odual");
            list2.options[2] = new Option("Ahoada East");
            list2.options[3] = new Option("Ahoada West");
            list2.options[4] = new Option("Akuku Toru");
            list2.options[5] = new Option("Andoni");
            list2.options[6] = new Option("Asari-Toru");
            list2.options[7] = new Option("Bonny");
            list2.options[8] = new Option("Degema");
            list2.options[9] = new Option("Emohua");
            list2.options[10] = new Option("Eleme");
            list2.options[11] = new Option("Etche");
            list2.options[12] = new Option("Gokana");
            list2.options[13] = new Option("Ikwerre");
            list2.options[14] = new Option("Khana");
            list2.options[15] = new Option("Obia/Akpor");
            list2.options[16] = new Option("Ogba/Egbema/Ndoni");
            list2.options[17] = new Option("Ogu/Bolo");
            list2.options[18] = new Option("Okrika");
            list2.options[19] = new Option("Omumma");
            list2.options[20] = new Option("Opobo/Nkoro");
            list2.options[21] = new Option("Oyigbo");
            list2.options[22] = new Option("Port-Harcourt");
            list2.options[23] = new Option("Tai");
        } else if (list1SelectedValue == "Sokoto") {
            list2.options.length = 0;
            list2.options[1] = new Option("Binji");
            list2.options[2] = new Option("Bodinga");
            list2.options[3] = new Option("Dange-shnsi");
            list2.options[4] = new Option("Gada");
            list2.options[5] = new Option("Goronyo");
            list2.options[6] = new Option("Gudu");
            list2.options[7] = new Option("Gawabawa");
            list2.options[8] = new Option("Illela");
            list2.options[9] = new Option("Isa");
            list2.options[10] = new Option("Kware");
            list2.options[11] = new Option("kebbe");
            list2.options[12] = new Option("Rabah");
            list2.options[13] = new Option("Sabon birni");
            list2.options[14] = new Option("Shagari");
            list2.options[15] = new Option("Silame");
            list2.options[16] = new Option("Sokoto North");
            list2.options[17] = new Option("Sokoto South");
            list2.options[18] = new Option("Tambuwal");
            list2.options[19] = new Option("Tqngaza");
            list2.options[20] = new Option("Tureta");
            list2.options[21] = new Option("Wamako");
            list2.options[22] = new Option("Wurno");
            list2.options[23] = new Option("Yabo");
        } else if (list1SelectedValue == "Taraba") {
            list2.options.length = 0;
            list2.options[1] = new Option("Ardo-kola");
            list2.options[2] = new Option("Bali");
            list2.options[3] = new Option("Donga");
            list2.options[4] = new Option("Gashaka");
            list2.options[5] = new Option("Cassol");
            list2.options[6] = new Option("Ibi");
            list2.options[7] = new Option("Jalingo");
            list2.options[8] = new Option("Karin-Lamido");
            list2.options[9] = new Option("Kurmi");
            list2.options[10] = new Option("Lau");
            list2.options[11] = new Option("Sardauna");
            list2.options[12] = new Option("Takum");
            list2.options[13] = new Option("Ussa");
            list2.options[14] = new Option("Wukari");
            list2.options[15] = new Option("Yorro");
            list2.options[16] = new Option("Zing");
        } else if (list1SelectedValue == "Yobe") {
            list2.options.length = 0;
            list2.options[1] = new Option("Bade");
            list2.options[2] = new Option("Bursari");
            list2.options[3] = new Option("Damaturu");
            list2.options[4] = new Option("Fika");
            list2.options[5] = new Option("Fune");
            list2.options[6] = new Option("Geidam");
            list2.options[7] = new Option("Gujba");
            list2.options[8] = new Option("Gulani");
            list2.options[9] = new Option("Jakusko");
            list2.options[10] = new Option("Karasuwa");
            list2.options[11] = new Option("Karawa");
            list2.options[12] = new Option("Machina");
            list2.options[13] = new Option("Nangere");
            list2.options[14] = new Option("Nguru Potiskum");
            list2.options[15] = new Option("Tarmua");
            list2.options[16] = new Option("Yunusari");
            list2.options[17] = new Option("Yusufari");
        } else if (list1SelectedValue == "Zamfara") {
            list2.options.length = 0;
            list2.options[1] = new Option("Anka");
            list2.options[2] = new Option("Bakura");
            list2.options[3] = new Option("Birnin Magaji");
            list2.options[4] = new Option("Bukkuyum");
            list2.options[5] = new Option("Bungudu");
            list2.options[6] = new Option("Gummi");
            list2.options[7] = new Option("Gusau");
            list2.options[8] = new Option("Kaura");
            list2.options[9] = new Option("Namoda");
            list2.options[10] = new Option("Maradun");
            list2.options[11] = new Option("Maru");
            list2.options[12] = new Option("Shinkafi");
            list2.options[13] = new Option("Talata Mafara");
            list2.options[14] = new Option("Tsafe");
            list2.options[15] = new Option("Zurmi");
        }
    }</script>
