﻿@model EmployeeBioData
@inject UserManager<ApplicationUser> userManager


@{
    ViewData["Title"] = "Employee-Bio";
    var photopath = "~/images/Cert/" + (Model.Image ?? "user.jpg");
    var user = await userManager.GetUserAsync(User);
}


<div class="row">
    <div class="col-sm-7 col-6">
        <h4 class="page-title">@Model.FirstName Bio-Data</h4>
    </div>

    <div class="col-sm-5 col-6 text-right m-b-30">
        <a asp-action="Edit" asp-controller="EmployeeBio" asp-route-id="@Model.Id" class="btn btn-primary btn-rounded"><i class="fa fa-edit"></i> Edit</a>
    </div>
</div>
<div class="card-box profile-header">
    <div class="row">
        <div class="col-md-12">
            <div class="profile-view">
                <div class="profile-img-wrap">
                    <div class="profile-img">

                        <a href="#"><img class="avatar" src="@user.ProfileImageUrl" alt="" asp-append-version="true"></a>
                    </div>

                </div>
                <div class="profile-basic">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="profile-info-left">
                                <h3 class="user-name m-t-0 mb-0">@Model.FirstName @Model.LastName</h3>
                                <small class="text-muted">@Model.Designation</small>
                                <div class="staff-id">Employee ID : @Model.EmployeeId</div>

                            </div>
                        </div>
                        <div class="col-md-7">
                            <ul class="personal-info">
                                <li>
                                    <span class="title">Gender:</span>
                                    <span class="text"><a href="#">@Model.Gender</a></span>
                                </li>
                                <li>
                                    <span class="title">Status:</span>
                                    <span class="text"><a href="#">@Model.MaritalStatus</a></span>
                                </li>
                                <li>
                                    <span class="title">Birthday:</span>
                                    <span class="text">@Model.DOB</span>
                                </li>
                                <li>
                                    <span class="title">Date Created:</span>
                                    <span class="text">@Model.CreatedDate</span>
                                </li>
                                <li>
                                    <span class="title">Address:</span>
                                    <span class="text">@Model.Address</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="profile-tabs">
    <ul class="nav nav-tabs nav-tabs-bottom">
        <li class="nav-item"><a class="nav-link active" href="#about-cont" data-toggle="tab">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab2" data-toggle="tab">Other Information</a></li>

    </ul>

    <div class="tab-content">
        <div class="tab-pane show active" id="about-cont">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                        <h3 class="card-title">Education Informations</h3>
                        <div class="experience-box">
                            <ul class="experience-list">
                                <li>
                                    <div class="experience-user">
                                        <div class="before-circle"></div>
                                    </div>
                                    <div class="experience-content">
                                        <div class="timeline-content">
                                            <a href="#/" class="name">@Model.Institution</a>
                                            <div>@Model.Academic</div>
                                            <span class="time">2001 - 2003</span>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                            <ul class="experience-list">
                                <li>
                                    <div class="experience-user">
                                        <div class="before-circle"></div>
                                    </div>
                                    <div class="experience-content">
                                        <div class="timeline-content">
                                            <a href="#/" class="name">@Model.Professional</a>
                                            <div>@Model.ProfessionalDescription</div>
                                            <span class="time">2001 - 2003</span>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="card-box mb-0">
                        <h3 class="card-title">Experience</h3>
                        <div class="experience-box">
                            <ul class="experience-list">
                                <li>
                                    <div class="experience-user">
                                        <div class="before-circle"></div>
                                    </div>
                                    <div class="experience-content">
                                        <div class="timeline-content">
                                            <a href="#/" class="name">@Model.Designation</a>
                                            <span class="time">Jan 2019 - Present( @Model.YearsOfExperience) </span>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="experience-user">
                                        <div class="before-circle"></div>
                                    </div>
                                    <div class="experience-content">
                                        <div class="timeline-content">
                                            <a href="#/" class="name">Software Engineer </a>
                                            <span class="time">Jan 2004 - Present (5 years 2 months)</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-box mb-0">
                        <h3 class="card-title">Certificate</h3>
                        <div class="experience-box">

                            <a href="#"><img class="" src="@Model.Image" alt="Cert" style="border-radius:5px; border:1px solid #bbb9b9; width:30%;" asp-append-version="true"></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="bottom-tab2">


            <ul class="personal-info">
                <li>
                    <span class="title">State:</span>
                    <span class="text"><a href="#">@Model.States</a></span>
                </li>
                <li>
                    <span class="title">LGA:</span>
                    <span class="text"><a href="#">@Model.Lgas</a></span>
                </li>
                <li>
                    <span class="title">Beneficiary Name:</span>
                    <span class="text">@Model.BeneficiaryName</span>
                </li>
                <li>
                    <span class="title">Beneficiary Contact:</span>
                    <span class="text">@Model.BeneficiaryNo</span>
                </li>
                <li>
                    <span class="title">Beneficiary Adress:</span>
                    <span class="text">@Model.BeneficiaryAddress</span>
                </li>
            </ul>

        </div>

    </div>
</div>

@if (user.ProfileImageUrl == null)
{
    <form id="profile-form" method="post" enctype="multipart/form-data" asp-action="UploadImage" asp-controller="User">

        <div class="form-group">
            <label>Profile Picx</label>
            <div class="profile-upload">
                <div class="upload-img">
                    <img alt="" src="~/Preclinic-Hospital-Bootstrap4-Admin/assets/img/user.jpg">
                </div>
                <div class="upload-input">
                    <input type="file" name="file" class="form-control">
                </div>
            </div>

            <hr />

        </div>
        <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
    </form>
}











