﻿@page
@model IndexModel
@inject UserManager<ApplicationUser> userManager

@{ 
    var user = await userManager.GetUserAsync(User);
}

@*@inject IApplicationUser*@
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Profile Picx</label>
              
                
                <hr />
                <img src="@user.ProfileImageUrl" style="border-radius:5px; border:1px solid #bbb9b9; width:50%;" asp-append-version="true" />
            </div>
           
        </form>
    </div>

    @*<div class="col-md-6">
        <form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="UploadProfileImage">
            <div class="form-group">
                <label>Profile Picx</label>
                <div class="profile-upload">
                    <div class="upload-img">
                        <img alt="" src="~/Preclinic-Hospital-Bootstrap4-Admin/assets/img/user.jpg">
                    </div>
                    <div class="upload-input">
                        <input type="file" class="form-control">
                    </div>
                </div>
                <hr />
                    <button type="submit" id="btn-profile" class="btn btn-secondary">Submit</button>
                <hr />
                <img src="~/Preclinic-Hospital-Bootstrap4-Admin/assets/img/user.jpg" style="border-radius:5px; border:1px solid #bbb9b9; width:50%;" asp-append-version="true" />
            </div>
        </form>
      
    </div>*@

    @*<div class="">
        <div class="row">
            <div class="col-md-6">
                <div class="profile-view">
                    <div class="profile-img-wrap">
                        <div class="profile-img">
                            <a href="#"><img class="avatar" src="assets/img/doctor-03.jpg" alt=""></a>
                            <form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="UploadProfileImage">
                                <div id="upload">
                                    <label class="btn btn-default btn-file">
                                        Browse: <input type="file" name="file" />
                                    </label>
                                </div>
                                <hr />
                                <button type="submit" id="btn-profile" class="btn btn-default">Submit</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}