﻿@model CreateRoleViewModel



<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <h4 class="page-title text-center">Create role.</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="RoleName"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea cols="30" rows="4" class="form-control" asp-for="Description" placeholder="Enter description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
         
            <div class="m-t-20 text-center">
             
                <button class="btn btn-primary submit-btn">Create</button>
                <a asp-action="ListRoles" class="btn btn-primary float-right">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

