﻿@model AdminIndexVm
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Admin Page";
    var user = await UserManager.GetUserAsync(User);


    var userImage = user.ProfileImageUrl;


    var photopath = (user.ProfileImageUrl ?? "~/Preclinic-Hospital-Bootstrap4-Admin/assets/img/Rimg.png");

}


<link href="~/Preclinic-Hospital-Bootstrap4-Admin/assets/css/dataTables.bootstrap4.min.css" rel="stylesheet" />


<div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget">
            <span class="dash-widget-bg2"><i class="fa fa-user-o"></i></span>
            <div class="dash-widget-info text-right">
                <h3>@ViewBag.Users</h3>
                <span class="widget-title2">Total Number of Users <i class="fa fa-check" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget">
            <span class="dash-widget-bg4"><i class="fa fa-user-secret" aria-hidden="true"></i></span>
            <div class="dash-widget-info text-right">
                <h3>@ViewBag.Roles</h3>
                <span class="widget-title3">Total Number of Roles <i class="fa fa-check" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget">
            <span class="dash-widget-bg4"><i class="fa fa-address-book-o" aria-hidden="true"></i></span>
            <div class="dash-widget-info text-right">
                <h3>@ViewBag.Unit</h3>
                <span class="widget-title4">Total Number of Units <i class="fa fa-check" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget">
            <span class="dash-widget-bg1"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></span>
            <div class="dash-widget-info text-right">
                <h3>98</h3>
                <span class="widget-title1">Active <i class="fa fa-check" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <hr />


</div>


@if (Model.Users.Any())
{

    <div class="col-md-12">
        <div class="card-box">
            <div class="card-block">
                <h6 class="card-title text-bold text-center">All Users</h6>
                <p class="content-group">

                </p>
                <a href="javascript:location.reload(true)" class="btn btn-success text-dark ml-auto mb-3 mb-sm-0">Refresh User</a>
                <hr />
                <div class="table-responsive">
                    <table class="table table-border display table-striped custom-table  mb-0 " id="customerDatatable">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    First Name
                                </th>
                                <th>
                                    Last Name
                                </th>
                                <th>
                                    Phone Number
                                </th>
                                <th>
                                    Unit
                                </th>
                                <th>
                                    Date Created
                                </th>
                                <th>
                                    User Image
                                </th>

                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Users)
                            {
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </td>
                                    <td> @Html.DisplayFor(modelItem => item.Unit.Name)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedOn)
                                    </td>

                                    <td><img width="30" height="28" src="@item.ProfileImageUrl" class="rounded-circle m-r-5" alt="" asp-append-version="true"></td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" asp-action="Details" asp-controller="User" asp-route-id="@item.Id"><i class="fa fa-database m-r-5"></i> Details</a>
                                                <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


}
else
{
    <h4 class="text-info">There are currently no user's in the system</h4>
}




@if (Model.Roles.Any())
{
    <div class="col-md-12">
        <div class="card-box">
            <div class="card-block">
                <h6 class="card-title text-bold text-center">All Roles</h6>
                <p class="content-group">

                </p>
                <a href="javascript:location.reload(true)" class="btn btn-success text-dark ml-auto mb-3 mb-sm-0">Refresh Roles</a>
                <hr />
                <div class="table-responsive">
                    <table class="table table-border display table-striped custom-table datatable mb-0 " id="customerDatatable1">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Created Date
                                </th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Roles)
                            {
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                    </td>

                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" asp-action="Edit" asp-controller="Admin" asp-route-id="@item.Id"><i class="fa fa-database m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" asp-action="Delete" asp-controller="Admin" asp-route-id="@item.Id"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h4 class="text-info">There are currently no roles's in the system</h4>
}




@section Scripts{

    <script src="~/Preclinic-Hospital-Bootstrap4-Admin/assets/js/jquery.dataTables.min.js"></script>

    <script src="~/Preclinic-Hospital-Bootstrap4-Admin/assets/js/dataTables.bootstrap4.min.js"></script>


}